{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Add Customer</div>
            </div>
            <div class="portlet-body form">
                <form method="post" class="form-horizontal" novalidate="novalidate">
                    <div class="form-body">
                        <h4 class="form-section">Information</h4>
                        
                        <div id="cgroup-name" class="form-group">
                            <label class="col-md-3 control-label">Company Name</label>
                            <div class="col-md-4">
                                <input id="cform-name" type="text" name="name" class="form-control" placeholder="Company Name" value="">
                            </div>
                        </div>

                        <div id="cgroup-name" class="form-group">
                            <label class="col-md-3 control-label">Contact Person</label>
                            <div class="col-md-4">
                                <input id="cform-name" type="text" name="name" class="form-control" placeholder="Contact Person" value="">
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="control-label col-md-3">Address</label>
                            <div class="col-md-4 row-md-5">
                                <textarea class="form-control" rows="5" placeholder="Address" style="resize: none;"></textarea>
                            </div>
                        </div>

                        <div id="cgroup-prodgroup_id" class="form-group">
                            <label class="control-label col-md-3">City</label>
                            <div class="col-md-4">
                                <select name="foo" class="select2me form-control">
                                    <option value="1">[Select City]</option>
                                    <option value="1">City 1</option>
                                    <option value="1">City 2</option>
                                    <option value="1">City 3</option>
                                </select>
                            </div>
                        </div>

                        <div id="cgroup-name" class="form-group">
                            <label class="col-md-3 control-label">Contact Number</label>
                            <div class="col-md-4">
                                <input id="cform-name" type="text" name="name" class="form-control" placeholder="Contact Number" value="">
                            </div>
                        </div>

                        <div id="cgroup-name" class="form-group">
                            <label class="col-md-3 control-label">Office Number</label>
                            <div class="col-md-4">
                                <input id="cform-name" type="text" name="name" class="form-control" placeholder="Office Number" value="">
                            </div>
                        </div>

                        <div id="cgroup-uom" class="form-group">
                            <label class="col-md-3 control-label">Fax Number</label>
                            <div class="col-md-4">
                                <input id="cform-uom" type="text" name="uom" class="form-control" placeholder="Fax Number" value="">
                            </div>
                        </div>

                        <div id="cgroup-uom" class="form-group">
                            <label class="col-md-3 control-label">Email Address</label>
                            <div class="col-md-4">
                                <input id="cform-uom" type="text" name="uom" class="form-control" placeholder="Email Address" value="">
                            </div>
                        </div>

                    </div>


                    <div class="form-actions fluid">
                        <div class="col-md-9">
                            <button class="btn green">Submit</button>
                            <a href="{{ path('feac_set_supp') }}" class="btn default"><i class="fa fa-angle-left"></i> Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/clockface/js/clockface.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/scripts/metronic.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/layout/scripts/layout.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>


<script>
jQuery(document).ready(function() {       
    ComponentsPickers.init();
});   
</script>
{% endblock %}

{% block css %}
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css') }}"/>
{% endblock %}
