{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
    {# <div class="col-md-12" style="padding-bottom: 10px">
        <a href="{{ path('cat_pur_po_edit_form', {'id': object.getID}) }}" class="btn green" data-toggle="modal">Back to Purchase Order</a>
    </div> #}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Add Purchase Order</div>
            </div>
            <div class="portlet-body form">
                <form method="post" class="form-horizontal" novalidate="novalidate">
                    <div class="form-body">
                        <h4 class="form-section">Information</h4>
                        
                        <div id="cgroup-name" class="form-group">
                            <label class="col-md-3 control-label">Order Number</label>
                            <div class="col-md-4">
                                <input id="cform-name" type="text" name="name" class="form-control" placeholder="Order Number" value="" readonly>
                            </div>
                        </div>

                        <div id="cgroup-date" class="form-group">
                            <label class="col-md-3 control-label">Date</label>
                            <div class="col-md-4">
                                <div class="input-group input-medium date date-picker" data-date="12-02-2012" data-date-format="mm/dd/yyyy" data-date-viewmode="years">
                                    <input type="text" class="form-control" readonly="">
                                    <span class="input-group-btn">
                                    <button class="btn default" type="button"><i class="fa fa-calendar"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <h4 class="form-section">Purchase Order Information</h4>
                        <div id="cgroup-prodgroup_id" class="form-group">
                            <label class="control-label col-md-3">Type</label>
                            <div class="col-md-4">
                                <select name="foo" class="select2me form-control">
                                    <option value="1">[Select Type]</option>
                                    <option value="1">Type 1</option>
                                    <option value="1">Type 2</option>
                                    <option value="1">Type 3</option>
                                </select>
                            </div>
                        </div>

                        <div id="cgroup-prodgroup_id" class="form-group">
                            <label class="control-label col-md-3">Supplier Type</label>
                            <div class="col-md-4">
                                <select name="foo" class="select2me form-control">
                                    <option value="1">[Select Supplier Type]</option>
                                    <option value="1">Supplier Type 1</option>
                                    <option value="1">Supplier Type 2</option>
                                    <option value="1">Supplier Type 3</option>
                                </select>
                            </div>
                        </div>

                        <div id="cgroup-prodgroup_id" class="form-group">
                            <label class="control-label col-md-3">Supplier</label>
                            <div class="col-md-4">
                                <select name="foo" class="select2me form-control">
                                    <option value="1">[Select Supplier]</option>
                                    <option value="1">Supplier 1</option>
                                    <option value="1">Supplier 2</option>
                                    <option value="1">Supplier 3</option>
                                </select>
                            </div>
                        </div>

                        <div id="cgroup-name" class="form-group">
                            <label class="col-md-3 control-label">Address</label>
                            <div class="col-md-4">
                                <input id="cform-name" type="text" name="name" class="form-control" placeholder="Address" value="" readonly>
                            </div>
                        </div>

                        <div id="cgroup-name" class="form-group">
                            <label class="col-md-3 control-label">Attention</label>
                            <div class="col-md-4">
                                <input id="cform-name" type="text" name="name" class="form-control" placeholder="Attention" value="" readonly>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3">Delivery Instruction</label>
                            <div class="col-md-4 row-md-5">
                                <textarea class="form-control" rows="5" placeholder="instruction here..." style="resize: none;" readonly></textarea>
                            </div>
                        </div>

                        <div id="cgroup-uom" class="form-group">
                            <label class="col-md-3 control-label">Remarks</label>
                            <div class="col-md-4">
                                <input id="cform-uom" type="text" name="uom" class="form-control" placeholder="Remarks" value="" readonly>
                            </div>
                        </div>

                        <div id="cgroup-prodgroup_id" class="form-group">
                            <label class="control-label col-md-3">Terms</label>
                            <div class="col-md-4">
                                <select name="foo" class="select2me form-control">
                                    <option value="1">[Select Terms]</option>
                                    <option value="1">Terms 1</option>
                                    <option value="1">Terms 2</option>
                                    <option value="1">Terms 3</option>
                                </select>
                            </div>
                        </div>

                        <div id="cgroup-prodgroup_id" class="form-group">
                            <label class="control-label col-md-3">Currency</label>
                            <div class="col-md-4">
                                <select name="foo" class="select2me form-control">
                                    <option value="1">[Select Currency]</option>
                                    <option value="1">Currency 1</option>
                                    <option value="1">Currency 2</option>
                                    <option value="1">Currency 3</option>
                                </select>
                            </div>
                        </div>

                        <div id="cgroup-uom" class="form-group">
                            <label class="col-md-3 control-label">Currency Rate</label>
                            <div class="col-md-4">
                                <input id="cform-uom" type="text" name="uom" class="form-control" placeholder="Currency Rate" value="" readonly>
                            </div>
                        </div>

                        <h4 class="form-section">Entries</h4>
                        {#<a href="#entry_form" class="btn green" data-toggle="modal" id="btn_new_entry">Add New Entry</a>#}
                        <a class="btn green" id="btn_new_entry">Add New Entry</a>
                        <div class="table-scrollable">
                            <table class="table table-striped table-bordered table-hover dataTable" id="list_table" aria-describedby="list_table_info">
                                <thead>
                                    <tr role="row">
                                        <th role="columnheader" tabindex="0" aria-controls="list_table" rowspan="1" colspan="1">PR No.</th>
                                        <th role="columnheader" tabindex="0" aria-controls="list_table" rowspan="1" colspan="1">Item Type</th>
                                        <th role="columnheader" tabindex="0" aria-controls="list_table" rowspan="1" colspan="1">Product ID</th>
                                        <th role="columnheader" tabindex="0" aria-controls="list_table" rowspan="1" colspan="1">Description</th>
                                        <th role="columnheader" tabindex="0" aria-controls="list_table" rowspan="1" colspan="1">Unit</th>
                                        <th role="columnheader" tabindex="0" aria-controls="list_table" rowspan="1" colspan="1">Price</th>
                                        <th role="columnheader" tabindex="0" aria-controls="list_table" rowspan="1" colspan="1">Discount</th>
                                        <th role="columnheader" tabindex="0" aria-controls="list_table" rowspan="1" colspan="1">Net Price</th>
                                        <th role="columnheader" tabindex="0" aria-controls="list_table" rowspan="1" colspan="1"></th>
                                    </tr>
                                </thead>
                                <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    <tr class="odd">
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td><input type="text" class="form-control"></td>
                                        <td>
                                            <a href="#" class="btn red btn-xs remove_field"><i class="fa fa-times"></i> Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                    <div class="form-actions fluid">
                        <div class="col-md-9">
                            <button type="submit" class="btn blue">Submit</button>
                            <a href="{{ path('feac_pur_po') }}" class="btn default"><i class="fa fa-angle-left"></i> Back</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="entry_form" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" action="">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 id="form_title" class="modal-title">Add Item Entry</h4>
                </div>
                <div class="modal-body form-horizontal">
                    <div id="cgroup-sku" class="form-group">
                        <label class="col-md-4 control-label">Item Type</label>
                        <div class="col-md-6">
                        <select name="foo" class="select2me form-control">
                            <option value="1">[Select Type]</option>
                            <option value="1">Type 1</option>
                            <option value="1">Type 2</option>
                            <option value="1">Type 3</option>
                        </select>
                        </div>
                    </div>

                    <div id="cgroup-sku" class="form-group">
                        <label class="col-md-4 control-label">Unit</label>
                        <div class="col-md-6">
                        <select name="foo" class="select2me form-control">
                            <option value="1">[Select Unit]</option>
                            <option value="1">Unit 1</option>
                            <option value="1">Unit 2</option>
                            <option value="1">Unit 3</option>
                        </select>
                        </div>
                    </div>

                    <div id="cgroup-sku" class="form-group">
                        <label class="col-md-4 control-label">Quantity</label>
                        <div class="col-md-6">
                            <input type="number" id="quantity" name="quantity" class="form-control price" placeholder="Quantity" value="0">
                        </div>
                    </div>

                    <div id="cgroup-sku" class="form-group">
                        <label class="col-md-4 control-label">Price</label>
                        <div class="col-md-6">
                            <input type="number" id="quantity" name="quantity" class="form-control price" placeholder="Price" value="0">
                        </div>
                    </div>

                    <div id="cgroup-sku" class="form-group">
                        <label class="col-md-4 control-label">Discount</label>
                        <div class="col-md-6">
                            <input type="number" id="quantity" name="quantity" class="form-control price" placeholder="Discount" value="0">
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn blue">Submit</button>
                    <button type="button" class="btn default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/clockface/js/clockface.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/scripts/metronic.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/layout/scripts/layout.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>


<script>

function appendEntry()
{
    var html = '<tr>';
        html += '<td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td><td><input type="text" class="form-control"></td>';
        html += '<td><a href="#" class="btn red btn-xs remove_field"><i class="fa fa-times"></i> Delete</a></td>';
        html += '</tr>';

        $('#list_table').append(html);
}

jQuery(document).ready(function() {       
    ComponentsPickers.init();

    var add_button = $("#btn_new_entry");

    $(add_button).click(function(){                            
        appendEntry();            
    });

    //remove row
    $(document).on("click",".remove_field", function(e){
        e.preventDefault();            
        var tr = $(this).closest('tr');
        tr.remove();
        return false;
    });

});   
</script>
{% endblock %}

{% block css %}
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css') }}"/>
{% endblock %}
