{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
    <div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Unpaid P.O.{#{{ list_title }}#}</div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar" style="height:40px">
                {#{% if app.user.hasAccess(prefix ~ '.add') %}
                    <a href="{{ path(route_add) }}" class="btn green">Add New</a>
                {% endif %}#}                                
                <div class="form-group">
                    <div class="col-md-10">
                        <a href="{{ path(csv)}}" class="btn green">Export to CSV</a>
                        <!-- <a href="{# path(print)#}" class="btn green">Print</a> -->
                    </div>
                </div>
                </div>
               
                <table class="table table-striped table-bordered table-hover" id="list_table">
                    <thead>
                        <tr>
                            <th style="width:200px">PO # </th>
                            <th style="width: 300px">Date Issued</th>
                            <th style="width: 300px">Target Delivery Date</th>                            
                            <th style="width: 50px"></th>                     
                        </tr>
                    </thead>
                    
                    <tbody>
                        <tr>
                            <td>PO-2014-0001</td>                            
                            <td>11/26/2014</td>                                                       
                            <td>12/01/2014</td>
                            <td><a href="{{ path('ser_request_view')}}{##btn_en_add#}" class="btn default btn-xs blue-madison">View</a></td>  
                        </tr>
                        <tr>
                            <td>PO-2014-0002</td>                            
                            <td>12/01/2014</td>                                                       
                            <td>12/06/2014</td>
                            <td><a href="{{ path('ser_request_view')}}{##btn_en_add#}" class="btn default btn-xs blue-madison">View</a></td>  
                        </tr>
                        <tr>
                            <td>PO-2014-0003</td>                            
                            <td>12/02/2014</td>                                                       
                            <td>12/10/2014</td>
                            <td><a href="{{ path('ser_request_view')}}{##btn_en_add#}" class="btn default btn-xs blue-madison">View</a></td>  
                        </tr>
                        <tr>
                            <td>PO-2014-0004</td>                            
                            <td>112/03/2014</td>                                                       
                            <td>12/15/2014</td>
                            <td><a href="{{ path('ser_request_view')}}{##btn_en_add#}" class="btn default btn-xs blue-madison">View</a></td>  
                        </tr>
                        <tr>
                            <td>PO-2014-0005</td>                            
                            <td>12/04/2014</td>                                                       
                            <td>12/20/2014</td>
                            <td><a href="{{ path('ser_request_view')}}{##btn_en_add#}" class="btn default btn-xs blue-madison">View</a></td>  
                        </tr>
{#                    {% endfor %}#}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/DT_bootstrap.js') }}"></script>

<script>
$(document).ready(function() {
    $('#list_table').dataTable({            
        "iDisplayLength": 10,
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ records",
            "oPaginate": {
                "sPrevious": "Prev",
                "sNext": "Next"
            }
        },
        "aoColumnDefs": [
           
        ]
    });

    $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
    $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
});
</script>
{% endblock %}

{% block css %}
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
