{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as f %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Borrowed Items</div>
            </div>
        

        <div class="portlet-body form">
            <form method="post" class="form-horizontal">
                <div class="form-body">
                    <h4 class="form-section"> Information </h4>
                    {{ f.group_select('Borrower','user_opts',user_opts,object.getBorrower is not null ? object.getBorrower.getID,3,4, readonly)}}                   
                    {{ f.group_text('Department','dept_id',object.getBorrower.getDepartment.getName|default() ,3,4, true)}}                    
                    {{ f.group_date('Date Borrowed', 'date_issue', object.getDateIssue|date('m/d/Y'), 3, 4) }}                     
                    {{ f.group_text('Status', 'status', object.getStatus, 3, 4,true) }}
                    {{ f.group_textarea('Description', 'description',object.getDescription,3,3,4)}}
                    {{ f.group_textarea('Purpose/Remarks', 'remark',object.getRemark,3,3,4)}}

                    <h4 class="form-section"> Items </h4>

                    <div>
                        <a id="btn_from_add" href="javascript:void(0)" class="btn green add-field">Add Item</a>
                        {% if (object.getID != null) %}
                        <a id="btn_from_add" href="{{ path('cat_inv_borrowed_print',{'id':object.getID}) }}" class="btn green">Print</a>
                        {% endif %}
                    </div>

                    <div class="row table-responsive" style="padding-top:10px">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover" aria-describedby="list_table_info">
                                <thead>
                                    <tr>
                                        <th>Item Name</th>                                        
                                        <th>Date Returned</th>
                                        <th>Unit of Measurement</th>                                        
                                        <th>Quantity</th>                                            
                                        <th style="width: 60px">Delete</th>                          
                                        <th>Return</th>
                                    </tr>
                                </thead>
                                <tbody id="from_table">
                                {% if (object.getID != null) %}

                                    {% for entry in object.getEntries %}
                                            <tr class="borrowed_items_table">                                        
                                                <input type="hidden" name="prod_opts[]" value="{{ entry.getProduct.getID }}">
                                                <input type="hidden" name="id[]" value="{{ entry.getID }}">
                                                <td>
                                                <input class="form-control prod_opts[{{ entry.getProduct.getID }}]" value="{{ entry.getProduct.getName }}" readonly></td>
                                                <td><input type="text" readonly value="{{ entry.getDateReturned|date('m/d/Y') }}" class="form-control date-picker date_return[]" name="date_return[]"></td>
                                                <td><input type="text" name="uom[]" class="form-control uom" value="{{ entry.getProduct.getUnitOfMeasure }}" readonly></td>                                        
                                                <td><input type="text" name="qty[]" class="form-control qty" value="{{ entry.getQuantity }}" ></td>
                                                <td>
                                                    <a href="javascript:void(0)" class="remove_field btn default btn-xs red-sunglo"><i class="fa fa-minus-circle"></i></a>
                                                </td>
                                                <td>
                                                    <a class="add_return btn_en_add btn default btn-xs blue-madison"><i class="fa fa-edit"></i> Return</a>
                                                </td>
                                            </tr>
                                    {% endfor %}

                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                </div>

                <div class="form-actions fluid">
                        <div class="col-md-9">
                            <button type="submit" class="btn blue">Submit</button>
                            <a href="{{path('cat_inv_borrowed_index')}}" class="btn default">Cancel</a>
                        </div>
                    </div>
            </form>
        </div>
        </div>
    </div>
</div>

<div class="hidden">
    <select class="form-control select2 prod_opts">
        {{ f.options(prod_opts, 0)}}
    </select>
</div>
{% endblock %}

{% block js %}
<script>
function appendEntry()
{
    var field = '<tr class="prod_row">';        
        field += '<input type="hidden" name="id[]" class="form-control">';  
        field += '<td><select name="prod_opts[]" class="form-control select2 prod_opts">';
        field += $('.prod_opts').html();   
        field += '</select> </td>';                            
        field += '<td><input type="text" readonly name="date_return[]" class="form-control date-picker date_return"></td>';
        field += '<td> <input type="text" name="uom[]" class="form-control uom" readonly></td>';        
        field += '<td> <input type="number" name="qty[]" min="0" class="form-control qty"></td>';
        field += '<td><a href="#" class="btn red btn-xs remove_field"><i class="fa fa-times"></i> Delete</a></td>';
        field += '</tr>';

        $('#from_table').append(field);

        var prod_select = $('tr.prod_row:last').find('.prod_opts');
        product_refresh(prod_select);
}

function product_refresh(prod_select)
{
    var prod_id = prod_select.closest('tr').find('.prod_opts').val();

    var url = "{{ path('cat_inv_borrowed_product', { prod_id: ':prod_id'}) }}";
    url = url.replace(":prod_id", prod_id);

    var row = prod_select.closest('tr');

    $.getJSON(url, function(data){
        // console.log(data)

        row.find('.uom').val(data.uom);
    });
    // console.log(prod_id)
}

    $(document).ready(function() {
        ComponentsPickers.init();    

        $('.add_return').click(function(){
            
            sample = "<tr><td>kira</td><td>kira</td><td>kira</td><td>kira</td><td>kira</td></tr>";
            kira = $(this).closest('.borrowed_items_table');
            kira.append(sample);
        });

        $('#cform-user_opts').change(function(){
            var user =  $('#cform-user_opts').val();

            var url = "{{ path('cat_inv_borrowed_dept', { id: ':id'}) }}";
                url = url.replace(":id", user);

                $.getJSON(url, function(data){
                    console.log(data)
                    $('#cform-dept_id').val(data.dept);
                });
        });

        var add_button = $(".add-field");
        var wrapper = $("#from_table");
        

        $(add_button).on('click',function(){        
            appendEntry();

            $('.date_return').each(function(){
                // console.log('dfasdg')
               $(this).datepicker(); 
           });

        });        
         
        $(document).on('change','.prod_opts', function(e){
            e.preventDefault();
            // console.log('dgagas')
            var prod_id = $(this).closest('tr').find('.prod_opts').val();
            var row = $(this).closest('tr');
            // console.log(prod_id)

            var url = "{{ path('cat_inv_borrowed_product', { prod_id: ':id'}) }}";
                url = url.replace(":id", prod_id);

                    $.getJSON(url, function(data){
                        $(row).find('.uom').val(data.uom);
                    });            
        });


        //remove row
        $(document).on("click",".remove_field", function(e){
            e.preventDefault();            
            var tr = $(this).closest('tr');
            tr.remove();
            return false;
        });
    });
</script>
{% endblock %}
