<page>
    <style>
        td
        {
            font-size: 11px;
            border-left: none;
            border-right: none;
        }
        th
        {
            font-size: 11px;
            border-left: none;
            border-right: none;
        }
    </style>


    <div style="text-align:center; font-family:arial; padding-bottom: 7px; font-size: 15px">DAILY PRODUCTION REPORT</div>

    <div style="text-align:center; font-family:arial; font-size: 15px">{{ date|date('M d, Y') }}</div>

    <br/>
    <table style="border: 1px solid black; border-collapse: collapse;" border="1">
        <tr>
            <th style="width:200px; text-align:center"> </th>
            <th style="width:100px; text-align:center"> 1st Shift </th>
            <th style="width:100px; text-align:center"> 2nd Shift </th>
            <th style="width:100px; text-align:center"> 3rd Shift </th>
            <th style="width:100px; text-align:center"> TODAY </th>
            <th style="width:100px; text-align:center"> TO-DATE </th>
        </tr>
       
        <tr>
            <td style="width:200px; text-align:center"> Supervisor in Charge </td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getUserCreate.getName }}</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>

        <tr>
            <th style="width:200px;" colspan="6"> PRODUCTION </th>
        </tr>

        <tr>
            <td style="width:200px;">Fine alcohol (IN)</td>
            {% set fine_alcohol_today = 0 %}

            {% for s in shift_reports %}
                {% set fine_alcohol_today = fine_alcohol_today + s.getFineAlcohol %}
                <td style="width:100px; text-align:center">{{ s.getFineAlcohol|number_format(2) }}</td>
            {% endfor %}

            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ fine_alcohol_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ fine_alcohol_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px;r">Heads alcohol</td>
            {% set head_alcohol_today = 0 %}

            {% for s in shift_reports %}
                {% set head_alcohol_today = head_alcohol_today + s.getHeadsAlcohol %}
                <td style="width:100px; text-align:center">{{ s.getHeadsAlcohol|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ head_alcohol_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ head_alcohol_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px;">% H&T / liter alcohol produced</td>
            {% set percent_alcohol = 0 %}

            {% for s in shift_reports %}
                {% set percent_alcohol = s.getHeadsAlcohol / s.getFineAlcohol %}
                <td style="width:100px; text-align:center">{{ percent_alcohol|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}

            {% set checker = false %}
            {% if head_alcohol_today == 0 or fine_alcohol_today == 0 %}
                {% set checker = true %}
                {% set percent_alcohol_today = 0 %}
            {% endif %} 

            {% if checker == false %}   
                {% set percent_alcohol_today = head_alcohol_today / fine_alcohol_today %}
            {% endif %}

            <td style="width:100px; text-align:center">{{ percent_alcohol_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ percent_alcohol_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px;">Alcohol Quality (PTT) production</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getPPT|number_format(2) }}</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>


        <tr>
            <td style="width:200px;">Alcohol Quality (PROOF) production</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getPROOF|number_format(2) }}</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>


        <tr>
            <td style="width:200px;">Column Operator</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getColumnOperator }}</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>


        <tr>
            <th style="width:200px;" colspan="6"> WITHDRAWALS </th>
        </tr>

        <tr>
            <td style="width:200px;">Beginning Balance (liters)</td>
            <td style="width:100px; text-align:center">{{ consumption.getAlcoholBeginning|default(0)|number_format }}</td>
            <td style="width:100px; text-align:center"></td>
            <td style="width:200px; text-align:center" colspan="2">Beginning Balance (liters)</td>
            <td style="width:100px; text-align:center">{{ consumption.getAldehydeBeginning|default(0)|number_format }}</td>
        </tr>

        <tr>
            <td style="width:100px;">In (Production)</td>
            <td style="width:100px; text-align:center">{{ fine_alcohol_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center"></td>
            <td style="width:100px; text-align:center" colspan="2">In (Production)</td>
            <td style="width:100px; text-align:center">{{ head_alcohol_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:100px;">Out (Sales)</td>
            <td style="width:100px; text-align:center">{{ consumption.getAlcoholOut|default(0)|number_format }}</td>
            <td style="width:100px; text-align:center"></td>
            <td style="width:100px; text-align:center" colspan="2">Out (Sales)</td>
            <td style="width:100px; text-align:center">{{ consumption.getAldehydeOut|default(0)|number_format }}</td>
        </tr>

        <tr>
            {% set alcohol_stock = (consumption.getAlcoholBeginning|default(0) + fine_alcohol_today) - consumption.getAlcoholOut|default(0) %}
            <td style="width:100px;">Theoretical Alcohol Stock</td>
            <td style="width:100px; text-align:center">{{ alcohol_stock|number_format }}</td>
            <td style="width:100px; text-align:center"></td>

            {% set aldehyde_stock = (consumption.getAldehydeBeginning|default(0) + head_alcohol_today) - consumption.getAldehydeOut|default(0) %}
            <td style="width:100px; text-align:center" colspan="2">Theoretical Alcohol Stock</td>
            <td style="width:100px; text-align:center">{{ aldehyde_stock|number_format }}</td>
        </tr>


        <tr>
            <th style="width:200px;" colspan="6"> PRODUCTION DATA </th>
        </tr>

        <tr>
            <th style="width:200px;" colspan="6"> Fermentation: </th>
        </tr>

        <tr>
            <td style="width:200px; ">Average % alcohol in beer</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getBeerAlcohol }} %</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>

        <tr>
            <td style="width:200px; ">Fermentation</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getFermentation }}</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>

        <tr>
            <td style="width:200px; ">Mixer</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getMixer }}</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>

        <tr>
            <th style="width:200px;" colspan="6"> Biogas: </th>
        </tr>

        <tr>
            <td style="width:200px; ">Biogas produced (cu.m.)</td>
            {% set biogas_produced_today = 0 %}

            {% for s in shift_reports %}
                {% set biogas_produced_today = biogas_produced_today + s.getBiogasProduced %}
                <td style="width:100px; text-align:center">{{ s.getBiogasProduced }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ biogas_produced_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ biogas_produced_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">cu.m. gas/liter alcohol</td>
            {% set gpla_today = 0 %}

            {% for s in shift_reports %}
                {% set gpla_today = gpla_today + s.getGPLA %}
                <td style="width:100px; text-align:center">{{ s.getGPLA }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ gpla_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ gpla_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">Equivalent font-size:13px (L)</td>
            {% set bunker_today = 0 %}

            {% for s in shift_reports %}
                {% set bunker_today = bunker_today + s.getBiogasBunker %}
                <td style="width:100px; text-align:center">{{ s.getBiogasBunker }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ bunker_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ bunker_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">Steam produced (lbs)</td>
            {% set steam_today = 0 %}

            {% for s in shift_reports %}
                {% set steam_today = steam_today + s.getBiogasSteam %}
                <td style="width:100px; text-align:center">{{ s.getBiogasSteam|number_format }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ steam_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ steam_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">VFA (sp3)</td>
            {% set vfa_today = 0 %}

            {% for s in shift_reports %}
                {% set vfa_today = vfa_today + s.getVFA %}
                <td style="width:100px; text-align:center">{{ s.getVFA }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ vfa_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ vfa_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">COD loading </td>
            {% set cod_today = 0 %}

            {% for s in shift_reports %}
                {% set cod_today = cod_today + s.getCOD %}
                <td style="width:100px; text-align:center">{{ s.getCOD }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ cod_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ cod_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">Slops feeding (m3) </td>
            {% set slops_today = 0 %}

            {% for s in shift_reports %}
                {% set slops_today = slops_today + s.getSlops %}
                <td style="width:100px; text-align:center">{{ s.getSlops }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ slops_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ slops_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">Sampling Point </td>

            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getSampling }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>

        <tr>
            <td style="width:200px; ">Setting Volume</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getVolume }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>

        <tr>
            <td style="width:200px; ">Temperature</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getTemperature }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>

        <tr>
            <td style="width:200px; ">pH</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getPH|number_format() }}</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>

        <tr>
            <th style="width:200px;" colspan="6"> Bunker Fuel/Steam: </th>
        </tr>


        <tr>
            <td style="width:200px; ">kilos of rice husk used</td>
            {% set husk_today = 0 %}

            {% for s in shift_reports %}
                {% set husk_today = husk_today + s.getHusk %}
                <td style="width:100px; text-align:center">{{ s.getHusk|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ husk_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ husk_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">Equivalent bunker (L)</td>
            {% set bunker_today = 0 %}

            {% for s in shift_reports %}
                {% set bunker_today = bunker_today + s.getBunker %}
                <td style="width:100px; text-align:center">{{ s.getBunker|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ bunker_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ bunker_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">Liter of alcohol/liter of bunker</td>
            {% set loa_lob_today = 0 %}

            {% for s in shift_reports %}
                {% set loa_lob_today = loa_lob_today + s.getLOALOB %}
                <td style="width:100px; text-align:center">{{ s.getLOALOB|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ loa_lob_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ loa_lob_today|number_format(2) }}</td>
        </tr>


        <tr>
            <td style="width:200px; ">Steam produced inrice husk (lbs)</td>
            {% set steam_produced_today = 0 %}

            {% for s in shift_reports %}
                {% set steam_produced_today = steam_produced_today + s.getSteamProduced %}
                <td style="width:100px; text-align:center">{{ s.getSteamProduced|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ steam_produced_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ steam_produced_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">Total Steam produced (lbs)</td>
            {% set produced_steam_today = 0 %}

            {% for s in shift_reports %}
                {% set produced_steam_today = produced_steam_today + s.getProducedSteam %}
                <td style="width:100px; text-align:center">{{ s.getProducedSteam|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            <td style="width:100px; text-align:center">{{ produced_steam_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ produced_steam_today|number_format(2) }}</td>
        </tr>


        <tr>
            <td style="width:200px; ">Liter of alcohol/kg of rice husk</td>

            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getLOAHusk|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}

            {% set checker = false %}
            {% if fine_alcohol_today == 0 or husk_today == 0 %}
                {% set checker = true %}
                {% set loa_husk_today = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set loa_husk_today = fine_alcohol_today / husk_today %}
            {% endif %}

            <td style="width:100px; text-align:center">{{ loa_husk_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ loa_husk_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">kg of rice husk/liter of alcohol</td>

            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getHuskLOA|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}

            {% set checker = false %}
            {% if husk_today == 0 or fine_alcohol_today == 0 %}
                {% set checker = true %}
                {% set husk_loa_today = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set husk_loa_today =  husk_today / fine_alcohol_today %}
            {% endif %}


            <td style="width:100px; text-align:center">{{ husk_loa_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ husk_loa_today|number_format(2) }}</td>
        </tr>


        <tr>
            <td style="width:200px; ">Lbs of steam/liter alcohol</td>

            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getSteamLOA|number_format(2) }}</td>
            {% endfor %}
            
            {% embed "FareastManufacturingBundle:Production:pdf/filler.html.twig" %}{% endembed %}
            
            {% set checker = false %}
            {% if produced_steam_today == 0 or fine_alcohol_today == 0 %}
                {% set checker = true %}
                {% set steam_loa_today = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set steam_loa_today =  produced_steam_today / fine_alcohol_today %}
            {% endif %}

            <td style="width:100px; text-align:center">{{ steam_loa_today|number_format(2) }}</td>
            <td style="width:100px; text-align:center">{{ steam_loa_today|number_format(2) }}</td>
        </tr>

        <tr>
            <td style="width:200px; ">Boiler in operation</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getBoiler }}</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>

        <tr>
            <td style="width:200px; ">Boiler Operator</td>
            {% for s in shift_reports %}
                <td style="width:100px; text-align:center">{{ s.getBoilerOperator }}</td>
            {% endfor %}
            {% embed "FareastManufacturingBundle:Production:pdf/filler2.html.twig" %}{% endembed %}
        </tr>


        <tr>
            <th style="width:200px;" colspan="3"> YIELDS AND RECOVERIES </th>
            <th style="width:200px;" colspan="3"> LABOR </th>
        </tr>

        <tr>
            <td style="width:200px;">Fermentation Efficiency</td>
            <td style="width:100px;"> {{ consumption.getFermentationEfficiency|default(0) }} %</td>
            <th style="width:100px; text-align:center"></th>
            <th style="width:100px; text-align:center">No. of Personnel</th>
            <th style="width:100px; text-align:center">Total M/H</th>
            <th style="width:100px; text-align:center">Liters/Mh</th>
        </tr>

        <tr>
            <td style="width:200px;">Distillation Efficiency</td>
            <td style="width:100px;"> {{ consumption.getDistillationEfficiency|default(0) }} %</td>
            <td style="width:100px; text-align:center">Direct Labor</td>
            <td style="width:100px; text-align:center">{{ consumption.getDirectLaborNo|default(0) }}</td>
            <td style="width:100px; text-align:center">{{ consumption.getDirectLaborMH|default(0) }}</td>

            {% set checker = false %}
            {% if fine_alcohol_today == 0 or consumption.getDirectLaborMH == 0 %}
                {% set checker = true %}
                {% set direct_labor_mh = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set direct_labor_mh = fine_alcohol_today / consumption.getDirectLaborMH %}
            {% endif %}

            <td style="width:100px; text-align:center">{{ direct_labor_mh|number_format }}</td>
        </tr>

        <tr>
            <td style="width:200px;">Overall Efficiency</td>
            <td style="width:100px;"> {{ consumption.getOverallEfficiency|default(0) }} %</td>
            <td style="width:100px; text-align:center">Maintenance</td>
            <td style="width:100px; text-align:center">{{ consumption.getMaintenanceNo|default(0) }}</td>
            <td style="width:100px; text-align:center">{{ consumption.getMaintenanceMH|default(0) }}</td>

            {% set checker = false %}
            {% if fine_alcohol_today == 0 or consumption.getMaintenanceMH == 0 %}
                {% set checker = true %}
                {% set maintenance_mh = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set maintenance_mh = fine_alcohol_today / consumption.getMaintenanceMH %}
            {% endif %}

            <td style="width:100px; text-align:center">{{ maintenance_mh|number_format }}</td>
        </tr>

        <tr>
            <td style="width:200px;">Ave. % alcohol in beer</td>
            <td style="width:100px;"> {{ consumption.getAverageAlcohol|default(0) }} </td>
            <td style="width:100px; text-align:center">Support Group</td>
            <td style="width:100px; text-align:center">{{ consumption.getSupportGroupNo|default(0) }}</td>
            <td style="width:100px; text-align:center">{{ consumption.getSupportGroupMH|default(0) }}</td>

            {% set checker = false %}
            {% if fine_alcohol_today == 0 or consumption.getSupportGroupMH == 0 %}
                {% set checker = true %}
                {% set support_group_mh = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set support_group_mh = fine_alcohol_today / consumption.getMaintenanceMH %}
            {% endif %}

            <td style="width:100px; text-align:center">{{ support_group_mh|number_format }}</td>
        </tr>

        <tr>

            {% set checker = false %}
            {% if fine_alcohol_today == 0 or consumption.getMolProductionGal == 0 %}
                {% set checker = true %}
                {% set lfagm = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set lfagm = fine_alcohol_today / consumption.getMolProductionGal %}
            {% endif %}


            <td style="width:200px;">Liters fine alc./gal molasses</td>
            <td style="width:100px;">{{ lfagm|number_format(2) }}</td>
            <td style="width:100px; text-align:center">Plant Managers</td>
            <td style="width:100px; text-align:center">{{ consumption.getPlantManagersNo|default(0) }}</td>
            <td style="width:100px; text-align:center">{{ consumption.getPlantManagersMH|default(0) }}</td>
            
            {% set checker = false %}
            {% if fine_alcohol_today == 0 or consumption.getPlantManagersMH == 0 %}
                {% set checker = true %}
                {% set plant_managers_mh = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set plant_managers_mh = fine_alcohol_today / consumption.getPlantManagersMH %}
            {% endif %}
        
            <td style="width:100px; text-align:center">{{ plant_managers_mh|number_format }}</td>
        </tr>


        <tr>
            {% set checker = false %}
            {% if fine_alcohol_today == 0 or head_alcohol_today == 0 or consumption.getMolProductionGal == 0 %}
                {% set checker = true %}
                {% set ltagm = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set ltagm = (fine_alcohol_today + head_alcohol_today) / consumption.getMolProductionGal %}
            {% endif %}

            <td style="width:200px;">Liters total alc./gal molasses</td>
            <td style="width:100px;"> {{ ltagm|number_format(2) }} </td>
            <td style="width:100px; text-align:center">Guard</td>
            <td style="width:100px; text-align:center">{{ consumption.getGuardNo|default(0) }}</td>
            <td style="width:100px; text-align:center">{{ consumption.getGuardMH|default(0) }}</td>
   
            {% set checker = false %}
            {% if fine_alcohol_today == 0 or consumption.getGuardMH == 0 %}
                {% set checker = true %}
                {% set guard_mh = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set guard_mh = fine_alcohol_today / consumption.getGuardMH %}
            {% endif %}
        
            <td style="width:100px; text-align:center">{{ guard_mh|number_format }}</td>
        </tr>

        <tr>

            {% set checker = false %}
            {% if fine_alcohol_today == 0 or consumption.getMolProductionTon == 0 %}
                {% set checker = true %}
                {% set lfatm = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set lfatm = fine_alcohol_today / consumption.getMolProductionTon %}
            {% endif %}
        

            <td style="width:200px;">Liters fine alc. /ton molasses</td>
            <td style="width:100px;"> {{ lfatm|number_format(2) }} </td>
            <td style="width:100px; text-align:center">Extra</td>
            <td style="width:100px; text-align:center">{{ consumption.getExtraNo|default(0) }}</td>
            <td style="width:100px; text-align:center">{{ consumption.getExtraMH|default(0) }}</td>

            {% set checker = false %}
            {% if fine_alcohol_today == 0 or consumption.getExtraMH == 0 %}
                {% set checker = true %}
                {% set extra_mh = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set extra_mh = fine_alcohol_today / consumption.getExtraMH %}
            {% endif %}

            <td style="width:100px; text-align:center">{{ extra_mh|number_format }}</td>
        </tr>

        <tr>

            {% set checker = false %}
            {% if fine_alcohol_today == 0 or consumption.getMolProductionTon == 0 %}
                {% set checker = true %}
                {% set ltatm = 0 %}
            {% endif %} 

            {% if checker == false %}
                {% set ltatm = (fine_alcohol_today + head_alcohol_today) / consumption.getMolProductionTon %}
            {% endif %}


            <td style="width:200px;">Liters total alc. /ton molasses</td>
            <td style="width:100px;"> {{ ltatm|number_format(2) }} </td>
            
            {% set total_no = consumption.getDirectLaborNo|default(0) + consumption.getMaintenanceNo|default(0) + consumption.getSupportGroupNo|default(0) + consumption.getPlantManagersNo|default(0) + consumption.getGuardNo|default(0) + consumption.getExtraNo|default(0) %}

            {% set total_mh = consumption.getDirectLaborMH|default(0) + consumption.getMaintenanceMH|default(0) + consumption.getSupportGroupMH|default(0) + consumption.getPlantManagersMH|default(0) + consumption.getGuardMH|default(0) + consumption.getExtraMH|default(0) %}


            {% set checker = false %}
            {% if fine_alcohol_today == 0 or total_mh == 0 %}
                {% set checker = true %}
                {% set total_mh_mh = 0 %}
            {% endif %} 

            {% if checker == false %}   
                {% set total_mh_mh = fine_alcohol_today / total_mh %}
            {% endif %}


            <td style="width:100px; text-align:center">Total</td>
            <td style="width:100px; text-align:center">{{ total_no|number_format }}</td>
            <td style="width:100px; text-align:center">{{ total_mh|number_format }}</td>
            <td style="width:100px; text-align:center">{{ total_mh_mh|number_format }}</td>
        </tr>


        <tr>
            <th style="width:200px;" colspan="3"> RAW MATERIALS </th>
            <th style="width:200px;" colspan="3"> RAW MATERIALS </th>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Molasses Beginning Balance</td>
            <td style="width:100px;">{{ consumption.getMolBeginningBalance|default(0) }} gallons</td>
            <td style="width:200px;" colspan="2">Caustic Soda Beginning Balance</td>
            <td style="width:100px; text-align:center">{{ consumption.getSodaBeginningBalance|default(0) }}</td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Molasses Purchases  </td>
            <td style="width:100px;">{{ consumption.getMolPurchases|default(0) }} gallons</td>
            <td style="width:200px;" colspan="2">Add :Purchases</td>
            <td style="width:100px; text-align:center">{{ consumption.getSodaPurchase|default(0) }}</td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Pumped to MDT</td>
            <td style="width:100px;">{{ consumption.getMolPumpedMDT|default(0) }} gallons</td>
            <td style="width:200px;" colspan="2">Less: Production Consumption</td>
            <td style="width:100px; text-align:center">{{ consumption.getSodaConsumption|default(0) }}</td>
        </tr>


        <tr>
            {% set running_balance = (consumption.getMolBeginningBalance|default(0) + consumption.getMolPurchases|default(0)) - consumption.getMolPumpedMDT|default(0) %}
            <td style="width:200px;" colspan="2">Running Balance</td>
            <td style="width:100px;">{{ running_balance }} gallons</td>
            <td style="width:200px;" colspan="2">Running Balance (liters)</td>
            <td style="width:100px; text-align:center">{{ consumption.getSodaRunningBalance|default(0) }}</td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Less:  Pondo</td>
            <td style="width:100px;">{{ consumption.getMolPondo|default(0) }} gallons</td>
            <td style="width:200px;" colspan="2"></td>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            {% set mol_working_balance = running_balance - consumption.getMolPondo|default(0) %}
            <td style="width:200px;" colspan="2">Molasses Working Balance</td>
            <td style="width:100px;">{{ mol_working_balance }} gallons</td>
            <td style="width:200px;" colspan="2">Urea Beginning Balance</td>
            <td style="width:100px; text-align:center">{{ consumption.getUreaBeginningBalance|default(0) }}</td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Molasses used in Production (Gal)</td>
            <td style="width:100px;">{{ consumption.getMolProductionGal|default(0) }} gallons</td>
            <td style="width:200px;" colspan="2">Add :Purchases</td>
            <td style="width:100px; text-align:center">{{ consumption.getUreaPurchase|default(0) }}</td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Molasses used in Production (Ton)</td>
            <td style="width:100px;">{{ consumption.getMolProductionTon|default(0) }} tons</td>
            <td style="width:200px;" colspan="2">Less: Production Consumption</td>
            <td style="width:100px; text-align:center">{{ consumption.getUreaConsumption|default(0) }}</td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">TSAI</td>
            <td style="width:100px;">{{ consumption.getMolTsai|default(0) }}</td>
            <td style="width:200px;" colspan="2">Running Balance (bags)</td>
            <td style="width:100px; text-align:center">{{ consumption.getUreaRunningBalance|default(0) }}</td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">BRIX</td>
            <td style="width:100px;">{{ consumption.getMolBrix|default(0) }}</td>
            <td style="width:200px;" colspan="2"></td>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2"></td>
            <td style="width:100px;"></td>
            <td style="width:200px;" colspan="2">Buffer Tank Level</td>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Sulfuric Acid Beginning Balance</td>
            <td style="width:100px;"> gallons</td>
            <th style="width:200px;" colspan="2">ELECTRICITY</th>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Add :Purchases</td>
            <td style="width:100px;">{{ consumption.getSulBeginningBalance|default(0) }} gallons</td>
            <td style="width:200px;" colspan="2">Electricity final reading(kw)</td>
            <td style="width:100px; text-align:center">{{ consumption.getElectricityFinal|default(0) }}</td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Less: Production Consumption</td>
            <td style="width:100px;">{{ consumption.getSulBeginningBalance|default(0) }} gallons</td>
            <td style="width:200px;" colspan="2">Electricity beginning (kw)</td>
            <td style="width:100px; text-align:center">{{ consumption.getElectricityBeginning|default(0) }}</td>
        </tr>

        <tr>
            <td style="width:200px;" colspan="2">Running Balance (gallons)</td>
            <td style="width:100px;">gallons</td>
            <td style="width:200px;" colspan="2">Electricity used (kw)</td>
            <td style="width:100px; text-align:center">{{ consumption.getElectricityUsed|default(0) }}</td>
        </tr>


        <tr>
            <td style="width:200px;" colspan="2"></td>
            <td style="width:100px;"></td>
            <td style="width:200px;" colspan="2">kw used/liter of alcohol</td>
            <td style="width:100px; text-align:center">{{ consumption.getKuLOA|default(0) }}</td>
        </tr>

        <tr>
            <th style="width:400px;" colspan="3">REMARKS / STOPPAGES: Causes / Downtime / Action taken:</th>
            <td style="width:100px;" colspan="2"></td>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            <th style="width:400px;color:white" colspan="3">hidden</th>
            <td style="width:100px;" colspan="2"></td>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            <th style="width:400px;color:white" colspan="3">hidden</th>
            <td style="width:100px;" colspan="2"></td>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            <th style="width:400px;color:white" colspan="3">hidden</th>
            <td style="width:100px;" colspan="2"></td>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            <th style="width:400px;color:white" colspan="3">hidden</th>
            <td style="width:100px;" colspan="2"></td>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            <th style="width:400px;color:white" colspan="3">hidden</th>
            <td style="width:100px;" colspan="2"></td>
            <td style="width:100px; text-align:center"></td>
        </tr>

        <tr>
            <th style="width:400px;color:white" colspan="3">hidden</th>
            <td style="width:100px;" colspan="2"></td>
            <td style="width:100px; text-align:center"></td>
        </tr>

    </table>



</page>