{% extends "CatalystTemplateBundle::base.html.twig"  %}
{% import "CatalystTemplateBundle::form.html.twig" as f %}

{% block content %}
{% if object.getStatus == 'Sent' %}
{% set readonly = true %}
{% endif %}
<div class="row">
<div class="col-md-12">
    <div class="portlet box blue-hoki">
        <div class="portlet-title">
            <div class="caption">Job Order {{ object.getCode }}</div>
        </div>
        <div class="portlet-body form">
            <form method="post" class="form-horizontal">
                <div class="form-body">
<h4 class="form-section">Information</h4>

{{ f.group_text('Branch','warehouse',object.getWarehouse.getName,3,4,true) }}
{{ f.group_text('Date','date',object.getDateCreate|date('m/d/Y'),3,4, true)}}
{{ f.group_select('Status','status',status_opts,object.getStatus,3,4, readonly) }}
<h4 class="form-section">Job Order Entries</h4>
{% if not readonly %}
<button type="button" href="#en_form" id="add-item" class="btn btn-primary" data-toggle="modal" >Add Item</button>
{% endif %}
<div class="row table-responsive" style="padding-top:10px">
	<div class="col-md-12">
            <table id="en_table" class="table table-striped table-bordered table-hover" aria-describedby="list_table_info">
			<thead>
                <tr>
	                <th>Report Date</th>
	                <th>Item Description/Specifications</th>
	                <th>Findings</th>	                
	                <th>Remarks</th>
	                <th></th>
                </tr>
            </thead>
            <tbody id="entries">
            {% for entry in object.getEntries %}
                    <tr>
                        <td><input type="text" class="form-control date-picker" value="{{ entry.getReportDate|date('m/d/Y')}}" name="en_report_date[]" readonly /></td>
                        <td><input type="text" class="form-control"  value="{{ entry.getItem }}" name="en_item[]"  {{ readonly?'readonly':''}} /></td>
                        <td><textarea class="form-control" name="en_findings[]" {{ readonly?'readonly':''}} />{{ entry.getFindings }}</textarea></td>
                        <td><textarea class="form-control" name="en_remarks[]" {{ readonly?'readonly':''}} />{{ entry.getNotes }}</textarea></td>
                        <td>
                            {% if not readonly %}
                                <a href="javascript:void(0)" class="btn_en_del btn default btn-xs red-sunglo"><i class="fa fa-minus-circle"></i> Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
	</div>
</div>
            
<div class="form-actions fluid">
    <div class="col-md-9">
        {% if not readonly %}
        <button type="submit" class="btn blue">Save</button>
        {% endif %}
        <a href="#print_tag" class="btn green">Print</a>
        <a href="{{ path('ser_pullout_index') }}" class="btn default">Cancel</a>
    </div>
</div>

                </form>
            </div>
        </div>
    </div>
</div>


<div id="en_form" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Pull Out Entry</h4>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal form">
                    <div class="form-body">
                        {{ f.group_text('Report Date', 'report_date','', 3, 4,true) }}
                        {{ f.group_text('Item', 'item','', 3, 8) }}
                        {{ f.group_textarea('Findings', 'findings','',3, 3, 8) }}
                        {{ f.group_textarea('Remarks', 'remarks','',3, 3, 8) }}

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">Close</button>
                <button id="btn_en_submit" type="button" class="btn green">Add Entry</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
    
function datepicker(){
    {% if not readonly %}
    $('.date-picker').each(function(){
        $(this).datepicker(); 
    });
    {% endif %}
}

$(document).ready(function() {
    $('#cform-report_date').datepicker();
    $('#en_table').on('click', '.btn_en_del', function() {
        $(this).closest('tr').remove();
    });
    datepicker();
            
    $('#btn_en_submit').click(function(){
        var report_date = $('#cform-report_date').val();
        var item = $('#cform-item').val();
        var findings = $('#cform-findings').val();
        var remarks = $('#cform-remarks').val();
        
        var row = '<tr>'+
                    '<td><input type="text" class="form-control date-picker" value="'+report_date+'" name="en_report_date[]" readonly /></td>'+
                    '<td><input type="text" class="form-control"  value="'+item+'" name="en_item[]"  /></td>'+
                    '<td><textarea class="form-control" name="en_findings[]" >'+findings+'</textarea></td>'+
                    '<td><textarea class="form-control" name="en_remarks[]" >'+remarks+'</textarea></td>'+
                    '<td>'+
                        '<a href="javascript:void(0)" class="btn_en_del btn default btn-xs red-sunglo"><i class="fa fa-minus-circle"></i> Delete</a>'+
                    '</td></tr>';

        $('#en_table').append(row);
        $('#en_form').modal('hide');
        datepicker();
    });
});
</script>
{% endblock %}