{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Job Order Form</div>
            </div>
            <div class="portlet-body form">
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        <div>
                            <a id="btn_en_add" href="{##en_form#}" class="btn green" data-toggle="modal">Print</a>
                            <!-- <a id="btn_en_add" href="{##en_form#}" class="btn green" data-toggle="modal">Save</a>
                            <a id="btn_en_add" href="{##en_form#}" class="btn green" data-toggle="modal">Send</a> -->
                        </div>
                        <h4 class="form-section">Information</h4>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Job Order No.</label>
                            <div class ="col-md-3">
                                <input type="text" class="form-control" name="code" placeholder="Job Order No." value="{#{{ object.getDateIssue|date('m/d/Y') }}#}" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Date Created</label>
                            <div class ="col-md-3">
                                <input type="text" class="form-control" name="date_issue" placeholder="Date Issued" value="{#{{ object.getDateIssue|date('m/d/Y') }}#}" readonly>
                            </div>
                        </div>                                                   

                        <div class="form-group">
                            <label class="col-md-3 control-label">Branch</label>
                            <div class ="col-md-3">
                               <input id="name" type="text" class="form-control" name="name" value="" readonly>
                            </div>
                        </div>

                        {{ form_tools.group_select('Status', '', '', '', 3 ,3)}}                      

                        <h4 class="form-section">Entries</h4>
                        
                        {#<div>
                            <a id="btn_en_add" href="#en_form" class="btn green" data-toggle="modal">Add Item</a>
                        </div>#}

                        <div class="row table-responsive" style="padding-top:10px">
                            <div class="col-md-11">
                                <table class="table table-striped table-bordered table-hover" aria-describedby="list_table_info">
                                    <thead>
                                        <tr>
                                            <th style="width: 150px">Date </th>
                                            <th style="width: 300px">Item for Repair/Specifications</th>
                                            <th style="width: 300px">Findings</th>                            
                                            <th>Remarks</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="en_table">
                                    {#{% for ent in object.getEntries %}#}
                                        <tr>
                                            <td></td>
                                            <td><input type="text" class="en_qty form-control" name="en_qty[]" value="{#{{ entry.getQuantity }}#}" readonly></td>
                                            <td><input type="text" class="en_price form-control" name="en_price[]" value="{#{{ entry.getPrice }}#}" readonly></td>
                                            <td></td>
                                        </tr>
                                    {#{% endfor %}#}
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="form-group">
                            <label class="col-md-2 control-label">Requested By: </label>
                            <div class ="col-md-2">
                             <input type="text" class="form-control" name="code" placeholder="Person" value="{#{{ delivery.getCode }}#}">
                            </div>
                            
                            <label class="col-md-3 control-label">Acknowledge By: </label>
                            <div class ="col-md-2">
                             <input type="text" class="form-control" name="code" placeholder="Person" value="{#{{ delivery.getCode }}#}">
                            </div>
                        </div> -->
                        </div>
                        
                        
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-9">
                            {#<button type="submit" class="btn blue">Submit</button>#}
                            <a href="{{ path(route_list) }}" class="btn default">&lt; Back</a>
                        </div>
                    </div>
                </form>       
            </div>
        </div>
    </div>
</div>

<div id="en_form" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Order Entry</h4>
            </div>
            <div class="modal-body">
                <div class="row form-horizontal form">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Item Name</label>
                            <div class ="col-md-8">
                                <select id="en_product_id" class="form-control select_2" name="prod_id">
                                {#{{ form.options(prod_opts, 0) }}#}
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Quantity</label>
                            <div class ="col-md-8">
                                <input id="en_qty" type="text" class="form-control" name="qty" placeholder="Quantity">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label">Unit Price</label>
                            <div class ="col-md-8">
                                <input id="en_price" type="text" class="form-control" name="price" placeholder="Price">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">Close</button>
                <button id="btn_en_submit" type="button" class="btn green">Add Item</button>
            </div>
        </div>
    </div>
</div>                            
{% endblock %}