{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as f %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Warehouse Stock</div>
            </div>
            <div class="portlet-body form">
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        <h4 class="form-section">Filters</h4>

                        <div class="table-toolbar" style="height:40px">
                            <form id="date_form" method="post" class="form-horizontal">
                            <label class="col-md-3 control-label">Source Warehouse/Department</label>
                            <div class ="col-md-5">
                                <select id="dept" class="form-control select_2" name="dept" multiple>
                                {{ f.options(dept, 0) }}
                                </select>
                            </div>
                            </form>
                        </div>

                        <div class="table-toolbar" style="height:40px">
                            <form id="date_form" method="post" class="form-horizontal">
                            <label class="col-md-3 control-label">Category</label>
                            <div class ="col-md-5">
                                <select id="prodgroup_opts" class="form-control select_2" name="prodgroup_opts" multiple>
                                {{ f.options(prodgroup_opts, 0) }}
                                </select>
                            </div>
                            <div>
                                <a href="javascript:void(0)" id="filter_button" class="btn blue-madison">Apply Filters</a>
                            </div>
                            </form>
                        </div>
{# 
                        <h4 class="form-section">Summary Details</h4>

                        {{ f.group_text('Total Item Count','count', object.getCode|default(''), 3,4,true) }}
                        {{ f.group_text('Total Quantity','qty', object.getCode|default(''), 3,4,true) }}
 #}
                        <div class="table-toolbar">
                            <a id="csv_link" href="{{ path('feac_inv_warehouse_export') }}" class="btn green">Export to CSV</a>
                            <a id="print_link" href="{{ path('feac_inv_warehouse_print') }}" class="btn green">Print</a>
                        </div>

                        <table class="table table-striped table-bordered table-hover" id="list_table">
                            <thead>                                
                                <tr>
                                {% for col in grid_cols %}
                                    <th>{{ col.getLabel }}</th>
                                {% endfor %}
                                </tr> 
                            </thead>
                            <tbody>                                
                            </tbody>
                        </table>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/jquery.dataTables.fnreloadajax.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/DT_bootstrap.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>

<script>
$(document).ready(function() {

    function add_filter_to_paths(wh, cat){
        
        path = "{{ path('feac_inv_warehouse_export', { 'warehouse' : 'WAREHOUSE', 'category' : 'CATEGORY'}) }}";
        path = path.replace('WAREHOUSE', wh);
        path = path.replace('CATEGORY', cat);        
        $('#csv_link').attr('href',path);

        path = "{{ path('feac_inv_warehouse_print', { 'warehouse' : 'WAREHOUSE', 'category' : 'CATEGORY'}) }}";
         path = path.replace('WAREHOUSE', wh);
        path = path.replace('CATEGORY', cat);
        $('#print_link').attr('href',path);  
             
    }
    // ComponentsPickers.init();
    var wh;
    var cat;
    var dTable;

    dTable = $('#list_table').dataTable({
        "bProcessing": true,
        "bServerSide": true,
        "sAjaxSource": "{{ path('feac_inv_warehouse_grid')}}",
        "iDisplayLength": 10,
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ records",
            "oPaginate": {
                "sPrevious": "Prev",
                "sNext": "Next"
            }
        },
        "aoColumnDefs": [
            { "bSortable": false, "aTargets": [{{ grid_cols|length - 1}}] },
        ]
    });

    $('#filter_button').click(function() 
    {

        var wh = $('#dept').val();
        var cat = $('#prodgroup_opts').val();

        var path = "{{ path('feac_inv_warehouse_grid', {'warehouse' : 'WAREHOUSE', 'category' : 'CATEGORY'}) }}";
        path = path.replace('WAREHOUSE', wh);
        path = path.replace('CATEGORY', cat);
        add_filter_to_paths(wh, cat);

        // console.log(wh)
        // console.log(cat)

        dTable.fnReloadAjax(path);

        // var url = '{{ path("feac_inv_warehouse_filter", { warehouse: ":warehouse", category: ":category" }) }}';
        // url = url.replace(":warehouse", wh).
        // replace(":category", cat);

        // dTable.fnReloadAjax(url);
    });


    $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
    $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
});
</script>
{% endblock %}

{% block css %}
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
