{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Daily Consumption 
                    ({% if date is defined %}{{ date|date('m-d-Y') }}{% endif %})
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        <h4 class="form-section">Raw Materials</h4>
                        <!-- Start Raw Mats accordion -->
                        <div class="panel-group accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">Mollases</a>
                                    </h4>
                                </div>
                                <div id="collapse_1" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Mollases Beginning Balance', 'begin-mol', consumption.getMolBeginningBalance, 3, 4) }}
                                        {{ form_tools.group_text('Mollases Purchase', 'purchase', consumption.getMolPurchases, 3, 4) }}
                                        {{ form_tools.group_text('Pumped to MDT', 'pumped', consumption.getMolPumpedMDT, 3, 4) }}
                                        {{ form_tools.group_text('Running Balance', 'run-mol', consumption.getMolRunningBalance, 3, 4, true) }}
                                        {{ form_tools.group_text('Less: Pondo', 'pondo', consumption.getMolPondo, 3, 4) }}

                                        <h4 class="bold">Mollases Working Balance</h4>

                                        {{ form_tools.group_text('Mollases used in Production (Gal)', 'mol-gal', consumption.getMolProductionGal, 3, 4) }}
                                        {{ form_tools.group_text('Mollases used in Production (Ton)', 'mol-ton', consumption.getMolProductionTon, 3, 4) }}
                                        {{ form_tools.group_text('TSAI', 'tsai', consumption.getMolTsai, 3, 4) }}
                                        {{ form_tools.group_text('Brix', 'brix', consumption.getMolBrix, 3, 4) }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2">Bunker</a>
                                    </h4>
                                </div>
                                <div id="collapse_2" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Bunker Beginning Balance', 'begin-bunk', consumption.getBunkerBeginningBalance, 3, 4) }}
                                        {{ form_tools.group_text('Bunker Purchase', 'bunk-pur', consumption.getBunkerPurchase, 3, 4) }}
                                        {{ form_tools.group_text('Less: Production Consumption', 'consumed', consumption.getBunkerConsumption, 3, 4) }}
                                        {{ form_tools.group_text('Running Balance (liters)', 'run-bunk', consumption.getBunkerRunningBalance, 3, 4, true) }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3">Sulfuric Acid</a>
                                    </h4>
                                </div>
                                <div id="collapse_3" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Sulfuric Acid Beginning Balance', 'begin-acid', consumption.getSulBeginningBalance, 3, 4) }}
                                        {{ form_tools.group_text('Add: Purchase', 'acid-purchase', consumption.getSulPurchase, 3, 4) }}
                                        {{ form_tools.group_text('Less: Production Consumption', 'acid-consumed', consumption.getSulConsumption, 3, 4) }}
                                        {{ form_tools.group_text('Running Balance (liters)', 'run-acid', consumption.getSulRunningBalance, 3, 4, true) }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_4">Caustic Soda</a>
                                    </h4>
                                </div>
                                <div id="collapse_4" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Caustic Soda Beginning Balance', 'begin-soda', consumption.getSodaBeginningBalance, 3, 4) }}
                                        {{ form_tools.group_text('Add: Purchase', 'soda-purchase', consumption.getSodaPurchase, 3, 4) }}
                                        {{ form_tools.group_text('Less: Production Consumption', 'soda-consumed', consumption.getSodaConsumption, 3, 4) }}
                                        {{ form_tools.group_text('Running Balance (liters)', 'run-soda', consumption.getSodaRunningBalance, 3, 4, true) }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_5">Urea</a>
                                    </h4>
                                </div>
                                <div id="collapse_5" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Urea Balance', 'begin-urea', consumption.getUreaBeginningBalance, 3, 4) }}
                                        {{ form_tools.group_text('Add: Purchase', 'urea-purchase', consumption.getUreaPurchase, 3, 4) }}
                                        {{ form_tools.group_text('Less: Production Consumption', 'urea-consumed', consumption.getUreaConsumption, 3, 4) }}
                                        {{ form_tools.group_text('Running Balance (bags)', 'run-urea', consumption.getUreaRunningBalance, 3, 4, true) }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_6">Salt</a>
                                    </h4>
                                </div>
                                <div id="collapse_6" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Salt Balance', 'begin-salt', consumption.getSaltBeginningBalance, 3, 4) }}
                                        {{ form_tools.group_text('Add: Purchase', 'salt-purchase', consumption.getSaltPurchase, 3, 4) }}
                                        {{ form_tools.group_text('Less: Production Consumption', 'salt-consumed', consumption.getSaltConsumption, 3, 4) }}
                                        {{ form_tools.group_text('Running Balance (bags)', 'run-salt', consumption.getSaltRunningBalance, 3, 4, true) }}
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_7">Electricity</a>
                                    </h4>
                                </div>
                                <div id="collapse_7" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Electricity final reading(kw)', 'electricity-final', consumption.getElectricityFinal, 3, 4) }}
                                        {{ form_tools.group_text('Electricity beginning (kw)', 'electricity-beginning', consumption.getElectricityBeginning, 3, 4) }}
                                        {{ form_tools.group_text('Electricity used (kw)', 'electricity-used', consumption.getElectricityUsed, 3, 4, true) }}
                                        {{ form_tools.group_text('kw used/liter of alcohol', 'alcohol-kw', consumption.getKuLOA, 3, 4, true) }}
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_8">Yields and Recoveries</a>
                                    </h4>
                                </div>
                                <div id="collapse_8" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Fermentation Efficiency', 'fermentation-efficiency', consumption.getFermentationEfficiency, 3, 4) }}
                                        {{ form_tools.group_text('Distillation Efficiency', 'distillation-efficiency', consumption.getDistillationEfficiency, 3, 4) }}
                                        {{ form_tools.group_text('Overall Efficiency', 'overall-efficiency', consumption.getOverallEfficiency, 3, 4) }}
                                        {{ form_tools.group_text('Ave. % alcohol in beer', 'average-alcohol', consumption.getAverageAlcohol, 3, 4) }}
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_9">Withdrawals</a>
                                    </h4>
                                </div>
                                <div id="collapse_9" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Alcohol Beginning Balance (liters)', 'alcohol-beginning', consumption.getAlcoholBeginning, 3, 4) }}
                                        {{ form_tools.group_text('Alcohol Out (Sales)', 'alcohol-out', consumption.getAlcoholOut, 3, 4) }}
                                        {{ form_tools.group_text('Aldehyde Beginning Balance (liters)', 'aldehyde-beginning', consumption.getAldehydeBeginning, 3, 4) }}
                                        {{ form_tools.group_text('Aldehyde Out (Sales)', 'aldehyde-out', consumption.getAldehydeOut, 3, 4) }}
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_10">Labor</a>
                                    </h4>
                                </div>
                                <div id="collapse_10" class="panel-collapse collapse in" style="height: auto;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Direct Labor (No. of Personnel)', 'direct-labor-no', consumption.getDirectLaborNo, 3, 4) }}
                                        {{ form_tools.group_text('Maintenance (No. of Personnel)', 'maintenance-no', consumption.getMaintenanceNo, 3, 4) }}
                                        {{ form_tools.group_text('Support Group (No. of Personnel)', 'support-group-no', consumption.getSupportGroupNo, 3, 4) }}
                                        {{ form_tools.group_text('Plant Managers (No. of Personnel)', 'plant-managers-no', consumption.getPlantManagersNo, 3, 4) }}
                                        {{ form_tools.group_text('Guard (No. of Personnel)', 'guard-no', consumption.getGuardNo, 3, 4) }}
                                        {{ form_tools.group_text('Extra (No. of Personnel)', 'extra-no', consumption.getExtraNo, 3, 4) }}

                                        {{ form_tools.group_text('Direct Labor (Total M/H)', 'direct-labor-mh', consumption.getDirectLaborMH, 3, 4) }}
                                        {{ form_tools.group_text('Maintenance (Total M/H)', 'maintenance-mh', consumption.getMaintenanceMH, 3, 4) }}
                                        {{ form_tools.group_text('Support Group (Total M/H)', 'support-group-mh', consumption.getSupportGroupMH, 3, 4) }}
                                        {{ form_tools.group_text('Plant Managers (Total M/H)', 'plant-managers-mh', consumption.getPlantManagersMH, 3, 4) }}
                                        {{ form_tools.group_text('Guard (Total M/H)', 'guard-mh', consumption.getGuardMH, 3, 4) }}
                                        {{ form_tools.group_text('Extra (Total M/H)', 'extra-mh', consumption.getExtraMH, 3, 4) }}

                                    </div>
                                </div>
                            </div>



                        </div>
                        <!-- End of accordion -->
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-9">
                            <button type="submit" class="btn blue">Submit</button>
                            <a href="{{ path('feac_mfg_prod_cal') }}" class="btn default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/clockface/js/clockface.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/scripts/metronic.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/layout/scripts/layout.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>

<script>
function updateMolRunningBalance( mol_beginning_balance, mol_purchases, mol_pumped_mdt )
{
    total = ( parseInt(mol_beginning_balance) + parseInt(mol_purchases) ) - parseInt(mol_pumped_mdt);
    $('#cform-run-mol').val(total);
}

function updateBunkerRunningBalance( bunker_beginning_balance, bunker_purchases, bunker_consumed )
{
    total = ( parseInt(bunker_beginning_balance) + parseInt(bunker_purchases) ) - parseInt(bunker_consumed);
    $('#cform-run-bunk').val(total);
}

function updateSulRunningBalance( sul_beginning_balance, sul_purchases, sul_consumed )
{
    total = ( parseInt(sul_beginning_balance) + parseInt(sul_purchases) ) - parseInt(sul_consumed);
    $('#cform-run-acid').val(total);
}

function updateSodaRunningBalance( soda_beginning_balance, soda_purchases, soda_consumed )
{
    total = ( parseInt(soda_beginning_balance) + parseInt(soda_purchases) ) - parseInt(soda_consumed);
    $('#cform-run-soda').val(total);
}

function updateUreaRunningBalance( urea_beginning_balance, urea_purchases, urea_consumed )
{
    total = ( parseInt(urea_beginning_balance) + parseInt(urea_purchases) ) - parseInt(urea_consumed);
    $('#cform-run-urea').val(total);
}

function updateSaltRunningBalance( salt_beginning_balance, salt_purchases, salt_consumed )
{
    total = ( parseInt(salt_beginning_balance) + parseInt(salt_purchases) ) - parseInt(salt_consumed);
    $('#cform-run-salt').val(total);
}

function updateElectricityUsed( electricity_final, electricity_beginning )
{
    total = parseInt(electricity_final) - parseInt(electricity_beginning);
    $('#cform-electricity-used').val(total);
}


jQuery(document).ready(function() {       
    ComponentsPickers.init();


    $('#cform-begin-mol, #cform-purchase, #cform-pumped').on( "change" , function() {
        mol_beginning_balance = $('#cform-begin-mol').val();
        mol_purchases = $('#cform-purchase').val();
        mol_pumped_mdt = $('#cform-pumped').val();
        updateMolRunningBalance( mol_beginning_balance, mol_purchases, mol_pumped_mdt );
    });

    $('#cform-begin-bunk, #cform-bunk-pur, #cform-consumed').on( "change" , function() {
        bunker_beginning_balance = $('#cform-begin-bunk').val();
        bunker_purchases = $('#cform-bunk-pur').val();
        bunker_consumed = $('#cform-consumed').val();
        updateBunkerRunningBalance( bunker_beginning_balance, bunker_purchases, bunker_consumed );
    });

    $('#cform-begin-acid, #cform-acid-purchase, #cform-acid-consumed').on( "change" , function() {
        sul_beginning_balance = $('#cform-begin-acid').val();
        sul_purchases = $('#cform-acid-purchase').val();
        sul_consumed = $('#cform-acid-consumed').val();
        updateSulRunningBalance( sul_beginning_balance, sul_purchases, sul_consumed );
    });

    $('#cform-begin-soda, #cform-soda-purchase, #cform-soda-consumed').on( "change" , function() {
        soda_beginning_balance = $('#cform-begin-soda').val();
        soda_purchases = $('#cform-soda-purchase').val();
        soda_consumed = $('#cform-soda-consumed').val();
        updateSodaRunningBalance( soda_beginning_balance, soda_purchases, soda_consumed );
    });

    $('#cform-begin-urea, #cform-urea-purchase, #cform-urea-consumed').on( "change" , function() {
        urea_beginning_balance = $('#cform-begin-urea').val();
        urea_purchases = $('#cform-urea-purchase').val();
        urea_consumed = $('#cform-urea-consumed').val();
        updateUreaRunningBalance( urea_beginning_balance, urea_purchases, urea_consumed );
    });

    $('#cform-begin-salt, #cform-salt-purchase, #cform-salt-consumed').on( "change" , function() {
        salt_beginning_balance = $('#cform-begin-salt').val();
        salt_purchases = $('#cform-salt-purchase').val();
        salt_consumed = $('#cform-salt-consumed').val();
        updateSaltRunningBalance( salt_beginning_balance, salt_purchases, salt_consumed );
    });

    $('#cform-electricity-final, #cform-electricity-beginning').on( "change" , function() {
        electricity_final = $('#cform-electricity-final').val();
        electricity_beginning = $('#cform-electricity-beginning').val();
        updateElectricityUsed( electricity_final, electricity_beginning );

        electricity_used = $('#cform-electricity-used').val();
        $('#cform-alcohol-kw').val(parseInt(electricity_used) * 350);
    });


});   
</script>
{% endblock %}

{% block css %}
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css') }}"/>
{% endblock %}
