{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form_tools %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Production Calendar</div>
            </div>
            <div class="portlet-body form">
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div id="datepaginator"></div>    
                            </div>
                        </div>

                        <h4 class="form-section">Daily Consumption</h4>
                            <div class="row">
                               <div class="col-sm-12 col-md-12">
                                    <div class="thumbnail">
                                        <div class="caption row">

                                            <div class="col-md-4">
                                                <div class="form-horizontal">
                                                    {{ form_tools.group_text('Mollases', 'mollases', consumption.getMolRunningBalance|default(0) ~ ' gal', 5, 7, true) }}
                                                    {{ form_tools.group_text('Bunker', 'bunker', consumption.getBunkerRunningBalance|default(0) ~ ' L', 5, 7, true) }}
                                                    {{ form_tools.group_text('Sulfuric Acid', 'acid', consumption.getSulRunningBalance|default(0) ~ ' gal', 5, 7, true) }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="form-horizontal">
                                                    {{ form_tools.group_text('Caustic Soda', 'soda', consumption.getSodaRunningBalance|default(0) ~ ' L', 5, 7, true) }}
                                                    {{ form_tools.group_text('Urea', 'urea', consumption.getUreaRunningBalance|default(0) ~ ' bags', 5, 7, true) }}
                                                    {{ form_tools.group_text('Salt', 'salt', consumption.getSaltRunningBalance|default(0) ~ ' bags', 5, 7, true) }}
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <a href="{{ path('feac_mfg_daily_cons', { date: today }) }}" id="edit_button" class="btn blue">Edit/View All</a><br><br>
                                                <a href="{{ path('feac_mfg_prod_cal_pdf', {date: today }) }}" id="print_button" target="_blank" class="btn green">Generate Daily Production Report</a>
                                            </div>

                                        </div>
                                    </div>
                               </div>
                            </div>

                        <h4 class="form-section">Shift Report</h4>
                        <div class="row" id="shift_reports">
                            
                            <!-- 1st -->
                            {% set checker = false %}
                            {% set shift = '7:00 to 15:00' %}
                            {% for s in shift_reports %}
                                {% if s.getShift == shift %}
                                    {% set checker = true %}
                                    {% embed "FareastManufacturingBundle:Production:shift_report/shift.html.twig" %}
                                        {% block shift %}1st{% endblock %}
                                    {% endembed %}
                                {% endif %}
                            {% endfor %}

                            {% if checker == false %}
                                {% embed "FareastManufacturingBundle:Production:shift_report/shift2.html.twig" %}
                                    {% block shift %}1st{% endblock %}
                                {% endembed %}
                            {% endif %}


                            <!-- 2nd -->
                            {% set checker = false %}
                            {% set shift = '15:00 to 23:00' %}
                            {% for s in shift_reports %}
                                {% if s.getShift == shift %}
                                    {% set checker = true %}
                                    {% embed "FareastManufacturingBundle:Production:shift_report/shift.html.twig" %}
                                        {% block shift %}2nd{% endblock %}
                                    {% endembed %}
                                {% endif %}
                            {% endfor %}

                            {% if checker == false %}

                                {% embed "FareastManufacturingBundle:Production:shift_report/shift2.html.twig" %}
                                    {% block shift %}2nd{% endblock %}
                                {% endembed %}
                            {% endif %}

                            <!-- 3rd -->
                            {% set checker = false %}
                            {% set shift = '23:00 to 7:00' %}
                            {% for s in shift_reports %}
                                {% if s.getShift == shift %}
                                    {% set checker = true %}
                                    {% embed "FareastManufacturingBundle:Production:shift_report/shift.html.twig" %}
                                        {% block shift %}3rd{% endblock %}
                                    {% endembed %}
                                {% endif %}
                            {% endfor %}

                            {% if checker == false %}
                                {% embed "FareastManufacturingBundle:Production:shift_report/shift2.html.twig" %}
                                    {% block shift %}3rd{% endblock %}
                                {% endembed %}
                            {% endif %}

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/clockface/js/clockface.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/scripts/metronic.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/layout/scripts/layout.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepaginator/bootstrap-datepaginator.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fareastmanufacturing/js/mfg_index.js') }}"></script>

<script>

jQuery(document).ready(function() {  
    ComponentsPickers.init();
});   
</script>
{% endblock %}

{% block css %}
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css') }}"/>
{% endblock %}
