{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form_tools %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">Create Shift Report</div>
            </div>
            <div class="portlet-body form">
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        <h4 class="form-section">Information</h4>
                        {{ form_tools.group_text('Supervisor in charge', 'supervisor', '', 3, 4, true) }}
                        {{ form_tools.group_select('Shift', 'shift', shift_opts, '', 3, 4) }}

                        <h4 class="form-section">Production</h4>
                        {{ form_tools.group_text('Fine Alcohol (IN)', 'fine-alcohol', '', 3, 4) }}
                        {{ form_tools.group_text('Heads Alcohol', 'heads-alcohol', '', 3, 4) }}
                        {{ form_tools.group_text('% H&T / Liters Alcohol Produced', 'produced', '', 3, 4, true) }}
                        {{ form_tools.group_text('Alcohol Quality (PPT) Production', 'ppt', '', 3, 4) }}
                        {{ form_tools.group_text('Alcohol Quality (PROOF) Production', 'proof', '', 3, 4) }}
                        {{ form_tools.group_text('Column Operator', 'column-operator', '', 3, 4) }}

                        <h4 class="form-section">Production Data</h4>
                        <div class="panel-group accordion" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">Fermentation</a>
                                    </h4>
                                </div>
                                <div id="collapse_1" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Average % Alcohol in Beer', 'beer-alcohol', '', 3, 4) }}
                                        {{ form_tools.group_text('Fermentation', 'fermentation', '', 3, 4) }}
                                        {{ form_tools.group_text('Mixer', 'mixer', '', 3, 4) }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_2">Biogas</a>
                                    </h4>
                                </div>
                                <div id="collapse_2" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Biogas Produced', 'biogas', '', 3, 4) }}
                                        {{ form_tools.group_text('cu.m. Gas/Liter Alcohol', 'gpla', '', 3, 4, true) }}
                                        {{ form_tools.group_text('Equivalent Bunker (L)', 'biogas-bunker', '', 3, 4) }}
                                        {{ form_tools.group_text('Steam Produced (lbs)', 'steam', '', 3, 4, true) }}
                                        {{ form_tools.group_text('VFA (sp3)', 'vfa', '', 3, 4) }}
                                        {{ form_tools.group_text('COD Loading', 'cod', '', 3, 4) }}
                                        {{ form_tools.group_text('Slops Feeding (m3)', 'slops', '', 3, 4) }}
                                        {{ form_tools.group_text('Sampling Point', 'sampling', '', 3, 4) }}
                                        {{ form_tools.group_text('Settling Volume', 'volume', '', 3, 4) }}
                                        {{ form_tools.group_text('Temperature', 'temp', '', 3, 4) }}
                                        {{ form_tools.group_text('pH', 'ph', '', 3, 4) }}
                                        {{ form_tools.group_text('Biogas Operator', 'biogas-operator', '', 3, 4) }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_3">Bunker Fuel/Steam</a>
                                    </h4>
                                </div>
                                <div id="collapse_3" class="panel-collapse collapse" style="height: 0px;">
                                    <div class="panel-body">
                                        {{ form_tools.group_text('Kilos of Rice Husk Used', 'husk', '', 3, 4) }}
                                        {{ form_tools.group_text('Equivalent Bunker (L)', 'bunker', '', 3, 4, true) }}
                                        {{ form_tools.group_text('Liter of Alcohol/Liter of Bunker', 'loa-lob', '', 3, 4) }}
                                        {{ form_tools.group_text('Steam Produced in Rice Husk (lbs)', 'steam-produced', '', 3, 4, true) }}
                                        {{ form_tools.group_text('Total Steam Produced (lbs)', 'produced-steam', '', 3, 4) }}
                                        {{ form_tools.group_text('Liter of Alcohol/Kg of Rice in Husk', 'loa-husk', '', 3, 4, true) }}
                                        {{ form_tools.group_text('Kr of Rice Husk/Liter of Alcohol', 'husk-loa', '', 3, 4, true) }}
                                        {{ form_tools.group_text('Lbs of Steam/Liter of Alcohol', 'steam-loa', '', 3, 4, true) }}
                                        {{ form_tools.group_text('Lbs of Steam/Kg of Rice Husk', 'steam-husk', '', 3, 4, true) }}
                                        {{ form_tools.group_text('Boiler in Operation', 'boiler', '', 3, 4) }}
                                        {{ form_tools.group_text('Boiler Operator', 'boiler-operator', '', 3, 4) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-actions fluid">
                        <div class="col-md-9">
                            <button type="submit" class="btn blue">Submit</button>
                            <a href="{{ path('feac_mfg_prod_cal') }}" class="btn default">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/clockface/js/clockface.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/moment.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/scripts/metronic.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/layout/scripts/layout.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/components-pickers.js') }}"></script>

<script>
function updateAlcoholProduced( fine_alcohol, heads_alcohol )
{
    total = ( parseInt(heads_alcohol) / parseInt(fine_alcohol) );
    $('#cform-produced').val(total);
}

function updateGPLA( biogas, fine_alcohol )
{
    total = ( parseInt(biogas) / parseInt(fine_alcohol) );
    $('#cform-gpla').val(total.toFixed(2));
}

function updateLOALOB( loa_lob, fine_alcohol )
{
    total = ( parseInt(fine_alcohol) / parseInt(loa_lob) );
    $('#cform-bunker').val(total.toFixed(2));
}

function updateSteamProduced( produced_steam, form_steam )
{
    total = ( parseInt(produced_steam) - parseInt(form_steam) );
    $('#cform-steam-produced').val(total.toFixed(2));
}

function updateLOAHusk( form_steam, fine_alcohol )
{
    total = ( parseInt(fine_alcohol) / parseInt(form_steam) );
    $('#cform-loa-husk').val(total.toFixed(2));

    total2 = ( parseInt(form_steam) / parseInt(fine_alcohol) );
    $('#cform-husk-loa').val(total2.toFixed(2));

}

function updateSteamLOA( produced_steam, fine_alcohol )
{
    total = ( parseInt(produced_steam) / parseInt(fine_alcohol) );
    $('#cform-steam-loa').val(total.toFixed(2));

}

function updateSteamHusk( produced_steam, husk )
{
    total = ( parseInt(produced_steam) / parseInt(husk) );
    $('#cform-steam-husk').val(total.toFixed(2));

}

jQuery(document).ready(function() {       
    ComponentsPickers.init();

    $('#cform-fine-alcohol, #cform-heads-alcohol').on( "change" , function() {
        fine_alcohol = $('#cform-fine-alcohol').val();
        heads_alcohol = $('#cform-heads-alcohol').val();
        updateAlcoholProduced( fine_alcohol, heads_alcohol );
    });

    $('#cform-biogas, #cform-fine-alcohol').on( "change" , function() {
        biogas = $('#cform-biogas').val();
        fine_alcohol = $('#cform-fine-alcohol').val();
        updateGPLA( biogas, fine_alcohol );
        biogas_bunker = biogas * .4;
        biogas_steam = biogas * 11;
        $('#cform-biogas-bunker').val(biogas_bunker.toFixed(2));
        $('#cform-steam').val(biogas_steam);
    });

    $('#cform-loa-lob, #cform-fine-alcohol').on( "change" , function() {
        loa_lob = $('#cform-loa-lob').val();
        fine_alcohol = $('#cform-fine-alcohol').val();
        updateLOALOB( loa_lob, fine_alcohol );
    });

    $('#cform-produced-steam, #cform-steam').on( "change" , function() {
        produced_steam = $('#cform-produced-steam').val();
        form_steam = $('#cform-steam').val();
        updateSteamProduced( produced_steam, form_steam );
    });

    $('#cform-husk, #cform-fine-alcohol').on( "change" , function() {
        form_husk = $('#cform-husk').val();
        fine_alcohol = $('#cform-fine-alcohol').val();
        updateLOAHusk( form_husk, fine_alcohol );
    });

    $('#cform-produced-steam, #cform-fine-alcohol').on( "change" , function() {
        produced_steam = $('#cform-produced-steam').val();
        fine_alcohol = $('#cform-fine-alcohol').val();
        updateSteamLOA( produced_steam, fine_alcohol );
    });

    $('#cform-steam-produced, #cform-husk').on( "change" , function() {
        produced_steam = $('#cform-steam-produced').val();
        husk = $('#cform-husk').val();
        updateSteamHusk( produced_steam, husk );
    });

});   
</script>
{% endblock %}

{% block css %}
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/catalysttemplate/assets/global/plugins/bootstrap-datepicker/css/datepicker3.css') }}"/>
{% endblock %}
