{% import "CatalystTemplateBundle::form.html.twig" as f %}

<h4 class="form-section">Information</h4>
{{ f.group_text('Name','branch_name',object.getName,3,4)}}
{{ f.group_text('Code','internal_code',object.getInternalCode,3,4)}}
{{ f.group_number('Payment Terms (no.of days)','pm_terms',object.getPaymentTerm,3,2)}} 
{# f.group_textarea('Address', 'address', object.getAddress, 3, 3, 4) #}
<!-- <h4 class="form-section">Address</h4> -->
{{ f.group_text('Unit / Number', 'name',object.getAddress.getName|default(''), 3, 4, false, prefix) }}
{{ f.group_text('Street Address', 'street', object.getAddress.getStreet|default(''), 3, 4, false, prefix) }}
{{ f.group_text('City', 'city', object.getAddress.getCity|default(''), 3, 4, false, prefix) }}
{{ f.group_text('Province', 'state', object.getAddress.getState|default(''), 3, 4, false, prefix) }}
{{ f.group_text('Country', 'country', object.getAddress.getCountry|default(''), 3, 4, false, prefix) }}
{{ f.group_text('Latitude', 'latitude', object.getAddress.getLatitude|default(''), 3, 4, false, prefix) }}
{{ f.group_text('Longitude', 'longitude', object.getAddress.getLongitude|default(''), 3, 4, false, prefix) }}


{% include "CatalystContactBundle::form.has_phones.html.twig" %}

