{% import "CatalystTemplateBundle::form.html.twig" as f %}

<h4 class="form-section">Information</h4>
{{ f.group_text('Description','name',object.getName ,3 ,4 )}}
{{ f.group_select('Category','prodgroup_id', pg_opts, object.getProductGroup.getID|default(''),3 ,4)}}
{{ f.group_select('Supplier','supplier_id',supp_opts, object.getSupplier.getID|default(''),3,4)}} 
{{ f.group_text('Supplier\'s Code','supp_code',object.getSupplierCode ,3,4)}}
{{ f.group_text('Specs','uom',object.getUnitOfMeasure,3,4)}}
{{ f.group_text_readonly('User Created','user_create',object.getUserCreate,3,4)}}
{{ f.group_text_readonly('Date Created','date_create',object.getDateCreate|date(),3,4)}}
{{ f.group_text_readonly('Update User','user_update',object.getUserUpdate,3,4)}}
{{ f.group_text_readonly('Update Date','date_update',object.getDateUpdate|date(),3,4)}}

 <div class="form-group">
    <label class="col-md-3 control-label">Characteristics</label>
    <div class="col-md-4">
        <div class="checkbox-list">
            <div>
            {{ f.checkbox('flag_perishable', 1, 'Is Perishable?', object.isPerishable, 'chars', readonly) }}
            </div>
        </div>
    </div>
</div>

{% set view_sell_price = app.user.hasAccess(prefix ~ '.view_sell_price') %}
{% set view_cost_price = app.user.hasAccess(prefix ~ '.view_cost_price') %}

{% if view_sell_price or view_cost_price %}
<h4 class="form-section">Pricing</h4>
{% endif %}
{% if view_sell_price %}
{{ f.group_number('Original Price', 'price_purchase', object.getPricePurchase|number_format(2, '.', ''), 3, 4, readonly) }}
{% endif %}
{% if view_cost_price %}
{{ f.group_number('Selling Price', 'price_sale', object.getPriceSale|number_format(2, '.', ''), 3, 4, readonly) }}
{% endif %}

<h4 class="form-section">Threshold</h4>
{{ f.group_number('Minimum Stock', 'stock_min', object.getStockMin|number_format(2, '.', ''), 3, 4, readonly) }}
{{ f.group_number('MAximum Stock', 'stock_max', object.getStockMax|number_format(2, '.', ''), 3, 4, readonly) }}

