<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <div class="caption">
            <h3 style="font-weight: bold;">{{ s.getUserCreate.getName }} </h3>
            <h4 class="form-section" style="margin-top: 10px;">Supervisor-in-charge<br>
                {% block shift %}{% endblock %} 
                Shift - {{ shift }}
            </h4>
            <div class="form-horizontal">
                <div id="cgroup-sku" class="form-group">
                    <label class="col-md-5 control-label">Fermentation</label>
                    <div class="col-md-7">
                        <input id="name" name="name" class="form-control " placeholder="Fermentation" value="{{ s.getFermentation }}" readonly="readonly">
                    </div>
                </div>
                <div id="cgroup-sku" class="form-group">
                    <label class="col-md-5 control-label">Biogas</label>
                    <div class="col-md-7">
                        <input id="name" name="name" class="form-control " placeholder="Biogas" value="{{ s.getBiogasProduced }}" readonly="readonly">
                    </div>
                </div>
                <div id="cgroup-sku" class="form-group">
                    <label class="col-md-5 control-label">Bunker Fuel/Steam</label>
                    <div class="col-md-7">
                        <input id="name" name="name" class="form-control " placeholder="Bunker Fuel/Steam" value="{{ s.getBunker }}" readonly="readonly">
                    </div>
                </div>
            </div>
            <div style="text-align: right;">
                <a href="{{ path('feac_mfg_shift_rep_edit', { id : s.getID, shift: s.getShift } ) }}" class="btn blue">View</a>
            </div>
        </div>
    </div>
</div>