<div class="portlet-title">
    <div class="caption">Create Shift Report
        ({% if date is defined %}{{ date|date('m-d-Y') }}{% endif %})
    </div>
</div>
<div class="portlet-body form">
    <form method="post" class="form-horizontal">
        <div class="form-body">
            <h4 class="form-section">Information</h4>
            {{ form_tools.group_text('Supervisor in charge', 'supervisor', app.user.name, 3, 4, true) }}
            {{ form_tools.group_text('Shift', 'shift', shift, 3, 4, true) }}
            <h4 class="form-section">Production</h4>
            {{ form_tools.group_text('Fine Alcohol (IN)', 'fine-alcohol', '', 3, 4) }}
            {{ form_tools.group_text('Heads Alcohol', 'heads-alcohol', '', 3, 4) }}
            {{ form_tools.group_text('% H&T / Liters Alcohol Produced', 'produced', '', 3, 4, true) }}
            {{ form_tools.group_text('Alcohol Quality (PPT) Production', 'ppt', '', 3, 4) }}
            {{ form_tools.group_text('Alcohol Quality (PROOF) Production', 'proof', '', 3, 4) }}
            {{ form_tools.group_text('Column Operator', 'column-operator', '', 3, 4) }}
            <h4 class="form-section">Production Data</h4>
            <div class="panel-group accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1">Fermentation</a>
                        </h4>
                    </div>
                    <div id="collapse_1" class="panel-collapse collapse in" style="height: auto;">
                        <div class="panel-body">
                            {{ form_tools.group_text('Average % Alcohol in Beer', 'beer-alcohol', '', 3, 4) }}
                            {{ form_tools.group_text('Fermentation', 'fermentation', '', 3, 4) }}
                            {{ form_tools.group_text('Mixer', 'mixer', '', 3, 4) }}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse_2">Biogas</a>
                        </h4>
                    </div>
                    <div id="collapse_2" class="panel-collapse collapse in" style="height: auto;">
                        <div class="panel-body">
                            {{ form_tools.group_text('Biogas Produced', 'biogas', '', 3, 4) }}
                            {{ form_tools.group_text('cu.m. Gas/Liter Alcohol', 'gpla', '', 3, 4, true) }}
                            {{ form_tools.group_text('Equivalent Bunker (L)', 'biogas-bunker', '', 3, 4) }}
                            {{ form_tools.group_text('Steam Produced (lbs)', 'steam', '', 3, 4, true) }}
                            {{ form_tools.group_text('VFA (sp3)', 'vfa', '', 3, 4) }}
                            {{ form_tools.group_text('COD Loading', 'cod', '', 3, 4) }}
                            {{ form_tools.group_text('Slops Feeding (m3)', 'slops', '', 3, 4) }}
                            {{ form_tools.group_text('Sampling Point', 'sampling', '', 3, 4) }}
                            {{ form_tools.group_text('Settling Volume', 'volume', '', 3, 4) }}
                            {{ form_tools.group_text('Temperature', 'temp', '', 3, 4) }}
                            {{ form_tools.group_text('pH', 'ph', '', 3, 4) }}
                            {{ form_tools.group_text('Biogas Operator', 'biogas-operator', '', 3, 4) }}
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3">Bunker Fuel/Steam</a>
                        </h4>
                    </div>
                    <div id="collapse_3" class="panel-collapse collapse in" style="height: auto;">
                        <div class="panel-body">
                            {{ form_tools.group_text('Kilos of Rice Husk Used', 'husk', '', 3, 4) }}
                            {{ form_tools.group_text('Equivalent Bunker (L)', 'bunker', '', 3, 4, true) }}
                            {{ form_tools.group_text('Liter of Alcohol/Liter of Bunker', 'loa-lob', '', 3, 4) }}
                            {{ form_tools.group_text('Steam Produced in Rice Husk (lbs)', 'steam-produced', '', 3, 4, true) }}
                            {{ form_tools.group_text('Total Steam Produced (lbs)', 'produced-steam', '', 3, 4) }}
                            {{ form_tools.group_text('Liter of Alcohol/Kg of Rice in Husk', 'loa-husk', '', 3, 4, true) }}
                            {{ form_tools.group_text('Kr of Rice Husk/Liter of Alcohol', 'husk-loa', '', 3, 4, true) }}
                            {{ form_tools.group_text('Lbs of Steam/Liter of Alcohol', 'steam-loa', '', 3, 4, true) }}
                            {{ form_tools.group_text('Lbs of Steam/Kg of Rice Husk', 'steam-husk', '', 3, 4, true) }}
                            {{ form_tools.group_text('Boiler in Operation', 'boiler', '', 3, 4) }}
                            {{ form_tools.group_text('Boiler Operator', 'boiler-operator', '', 3, 4) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions fluid">
            <div class="col-md-9">
                <button type="submit" class="btn blue">Submit</button>
                <a href="{{ path('feac_mfg_prod_cal') }}" class="btn default">Cancel</a>
            </div>
        </div>
    </form>
</div>