{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form %}

{% set readonly = not app.user.hasAccess('cat_user_user.edit') %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{% block form_header %}User{% endblock %}</div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form method="post" class="form-horizontal">
                    <div class="form-body">
                        {{ form.group_text('Username', 'username', object.getUsername, 3, 4, readonly) }}
                        {{ form.group_text('Name', 'name', object.getName, 3, 4, readonly) }}
                        {{ form.group_email('Email', 'email', object.getEmail, 3, 4, readonly) }}
                        {{ form.group_select('Department','wh_opts',wh_opts,object.getWarehouse.getID|default(''),3,4, readonly)}}                     
                        {% if not readonly %}
                            {{ form.group_password('Password', 'pass1', 3, 4, readonly) }}
                            {{ form.group_password('Re-type Password', 'pass2', 3, 4, readonly) }}
                        {% endif %}

                        <input type="hidden" id="ff-image" name="upload_id" value="{{ object.getUpload.getID|default('0') }}">
                        <div id="dropzone" class="form-group">
                            <label class="col-md-3 control-label">Profile Image</label>
                            <div class="col-md-9">
                                <div id="real-container">
                                    <div style="width:200px; overflow:hidden;">
                                    <a id="main-image-link" class="dzp-image" href="{{ object.getUpload.getURL|default(asset('bundles/catalystmedia/img/no_image.jpg')) }}" data-lightbox="media-upload">
                                        <img id="main-image" src="{{ object.getUpload.getURL|default(asset('bundles/catalystmedia/img/no_image.jpg')) }}" style="min-height:150px;max-height:150px;" data-id="{{ object.getUpload.getID|default('0') }}">
                                    </a>
                                    </div>
                                    <br>
                                </div>
                                <div id="prev-container">
                                </div>
                                <a href="#" id="dz-upload" class="btn btn-primary">Upload</a>
                            </div>
                        </div>

                        {{ form.group_select('Status', 'enabled', enabled_opts, object.isEnabled, 3, 4, readonly) }}
                        {{ form.group_checkbox_set('Roles', 'groups', group_opts, ug_opts, 3, 9, readonly) }}
                    </div>
                    <div class="form-actions fluid">
                        <div class="col-md-9">
                            {% if not readonly %}
                            <button type="submit" class="btn blue">Submit</button>
                            {% endif %}
                            <a href="{{ path(route_list) }}" class="btn default">Cancel</a>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>



<div id="dz-preview" class="hidden">
    <div>
        <div style="width:200px; overflow:hidden;">
        <a class="dzp-image" href="#" data-lightbox="donor">
            <img data-dz-thumbnail style="min-height:150px;max-height:150px;">
        </a>
        </div>

        <div class="dzp-progress progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" style="width:200px">
          <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
        </div>

        <strong class="error text-danger dzp-error" data-dz-errormessage></strong>

        <br>
    </div>
</div>
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ asset('bundles/catalystmedia/css/lightbox.css') }}">
{% endblock %}


{% block js %}
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/catalysttemplate/assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/admin/pages/scripts/form-validation.js') }}"></script>
<script src="{{ asset('bundles/catalystmedia/js/lightbox.min.js') }}"></script>
<script src="{{ asset('bundles/catalystmedia/js/dropzone.js') }}"></script>
<script src="{{ asset('bundles/catalystmedia/js/catalyst_media.js') }}"></script>
<script>
$(document).ready(function() {
    var upload_config = {
        'preview': '#dz-preview',
        'url': '{{ path('cat_media_upload_file') }}',
        'dropzone': '#dropzone',
        'preview_container': '#prev-container',
        'accepted_files': 'image/*',
        'clickable': '#dz-upload',
        'display_image': '#main-image',
        'form_field': '#ff-image'
    };
    setup_image_upload(upload_config);
});
</script>
{% if object.getUsername == '' %}
<script>
$(document).ready(function() {
    FormValidation.init(); // init form validation

    // set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            if(element.parent().parent().hasClass('form-group'))
            {  
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                element.parent().parent().parent().parent().parent().addClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {  
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // validate form elements
    $(".form-horizontal").validate({
        onfocusout: function(element) {
           this.element(element);
        },
        rules: {
            username: {
                required: true
            },
            name: {
                required: true
            },
            email: {
                required: true,
                email: true
            },
            pass1: {
                required: true
            },
            pass2: {
                required: true,
                equalTo : "#cform-pass1"
            }
        },
        messages: {
            pass2: {
                equalTo : "Password do not match."
            }   
        },
        submitHandler: function(form) {
            form.submit();
        }
    });
});
</script>
{% else %}
<script>
$(document).ready(function() {
    FormValidation.init(); // init form validation

    // set default error and success elements
    jQuery.validator.setDefaults({
        errorClass: 'help-block',
        errorElement: 'span',
        errorPlacement: function(error, element) {
            $("#help").html('');
            if(element.parent().parent().hasClass('form-group'))
            {
                error.appendTo(element.parent().last());
                element.parent().parent().addClass('has-error');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                error.appendTo(element.parent().parent().parent().parent().last());
                element.parent().parent().parent().parent().parent().addClass('has-error');
            }
            else
            {
                error.appendTo(element.parent().parent().last());
                element.parent().parent().parent().addClass('has-error');
            }
        },
        success: function(element) {
            $("#help").html('');
            if(element.parent().parent().hasClass('form-group'))
            {  
                element.parent().parent().removeClass('has-error');
                element.parent().parent().addClass('has-success');
            }
            else if(element.parent().parent().hasClass('checker'))
            {   
                element.parent().parent().parent().parent().parent().addClass('has-error');
                element.parent().parent().parent().parent().parent().addClass('has-success');
            }
            else
            {  
                element.parent().parent().parent().removeClass('has-error');
                element.parent().parent().parent().addClass('has-success');
            }

            element.remove();
        }
    });

    // validate form elements
    $(".form-horizontal").validate({
        onfocusout: function(element) {
           this.element(element);
        },
        rules: {
            username: {
                required: true
            },
            name: {
                required: true
            },
            email: {
                required: true,
                email: true
            }
        },
        submitHandler: function(form) {
            // validate password if password field is changed
            if($("#pass1").val() != '' || $("#pass2").val() != '')
            {
                if($("#pass1").val() != $("#pass2").val())
                {
                    $('#pass1').rules('add', {
                        required: true
                    });
                    $('#pass2').rules('add', {
                        required: true,
                        equalTo: "#pass1",
                        messages: {
                            equalTo: "Password do not match."
                        }
                    });
                    $("#pass1").parent().parent().parent().addClass('has-error');
                    $("#pass2").parent().parent().parent().addClass('has-error');
                    if(!$("#help").hasClass('help-block'))
                        $("#pass2").parent().parent().append('<span id="help" class="help-block">Password do not match.</span>');
                }
            }

            if($("#pass1").val() == $("#pass2").val())
            {
                form.submit();
            }
        }
    });
});
</script>
{% endif %}
{% endblock %}
