{% extends "CatalystTemplateBundle::base.html.twig" %}
{% import "CatalystTemplateBundle::form.html.twig" as form %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-hoki">
            <div class="portlet-title">
                <div class="caption">{{ list_title }} </div>
                <div class="actions">
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" class="">
                <div class="form-body">
                <div class="table-toolbar" style="height:40px">
                    {{ form.group_select('Search PO','po_code',po_opts,'',2,4)}}
                    <button type="submit" class="btn blue">Search</button>
                </div>    
                </div>
                </form>        
                <table class="table table-striped table-bordered table-hover" id="table_collapse">                   
                    <thead>
                        <th style="width:30%">DRS #</th>
                        <th style="width:30%">Target Delivery Date</th>
                        <th style="width:30%">Status</th>
                        <th style="width:10%"></th>                    
                    </thead>
                    <tr>
                        <td colspan="4">
                            <div class="accordion" id="accordion2">
                              <div class="accordion-group">
                                <div class="accordion-heading">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                    <table class="table content-heading table-bordered">
                                        <tr>
                                            <td  align="center">POS-2014-0006</td>
                                        </tr>
                                    </table>                                    
                                  </a>
                                </div>
                                <div id="collapseOne" class="accordion-body collapse out">
                                  <div class="accordion-inner">
                                    <table class="table main-screen">
                                        <tr>
                                            <td style="width:30%" align="center">DRS-2014-0007</td>                                            
                                            <td style="width:30%" align="center">12/20/2014</td>
                                            <td style="width:30%" align="center">Pending</td>
                                            <td style="width:10%" align="center"><a href="{{ path('cat_pur_inc_view') }}" class="btn default btn-xs blue-madison">View</a></td>
                                        </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-group">
                                <div class="accordion-heading">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                    <table class="table content-heading">
                                        <tr>
                                            <td  align="center">POS-2014-0008</td>
                                        </tr>
                                    </table>
                                  </a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse out">
                                  <div class="accordion-inner">
                                    <table class="table main-screen">
                                        <tr>
                                            <td style="width:30%" align="center">DRS-2014-0008</td>                                            
                                            <td style="width:30%" align="center">12/21/2014</td>
                                            <td style="width:30%" align="center">Pending</td>
                                            <td style="width:10%" align="center"><a href="{{ path('cat_pur_inc_view') }}" class="btn default btn-xs blue-madison">View</a></td>
                                        </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-group">
                                <div class="accordion-heading">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                                    <table class="table content-heading">
                                        <tr>
                                            <td  align="center">POS-2014-0009</td>
                                        </tr>
                                    </table>
                                  </a>
                                </div>
                                <div id="collapseThree" class="accordion-body collapse out">
                                  <div class="accordion-inner">
                                    <table class="table main-screen">
                                        <tr>
                                            <td style="width:30%" align="center">DRS-2014-0009</td>                                            
                                            <td style="width:30%" align="center">12/22/2014</td>
                                            <td style="width:30%" align="center">Pending</td>
                                            <td style="width:10%" align="center"><a href="{{ path('cat_pur_inc_view') }}" class="btn default btn-xs blue-madison">View</a></td>
                                        </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-group">
                                <div class="accordion-heading">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                                    <table class="table content-heading">
                                        <tr>
                                            <td  align="center">POS-2014-0010</td>
                                        </tr>
                                    </table>
                                  </a>
                                </div>
                                <div id="collapseFour" class="accordion-body collapse out">
                                  <div class="accordion-inner">
                                    <table class="table main-screen">
                                        <tr>
                                            <td style="width:30%" align="center">DRS-2014-0010</td>                             
                                            <td style="width:30%" align="center">12/22/2014</td>
                                            <td style="width:30%" align="center">Pending</td>
                                            <td style="width:10%" align="center"><a href="{{ path('cat_pur_inc_view') }}" class="btn default btn-xs blue-madison">View</a></td>
                                        </tr>
                                    </table>
                                  </div>
                                </div>
                              </div>
                        </td>
                    </tr>                                                                                    
                        
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.min.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/DT_bootstrap.js') }}"></script>

<script>
$(document).ready(function() {
    $('#list_table').dataTable({            
        "iDisplayLength": 10,
        "sPaginationType": "bootstrap",
        "oLanguage": {
            "sLengthMenu": "_MENU_ records",
            "oPaginate": {
                "sPrevious": "Prev",
                "sNext": "Next"
            }
        },
        "aoColumnDefs": [
           
        ]
    });

    $('#list_table_wrapper .dataTables_filter input').addClass("form-control input-small input-inline"); // modify table search input
    $('#list_table_wrapper .dataTables_length select').addClass("form-control input-xsmall input-inline"); // modify table per page dropdown
    $('#list_table_wrapper .dataTables_length select').select2(); // initialize select2 dropdown
});

</script>


{% endblock %}

{% block css %}
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/select2/select2.css') }}" rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/catalysttemplate/assets/global/plugins/data-tables/DT_bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}